@using System
@using System.Linq
@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.KeywordsIndexViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#keywords').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs":[
            {
                "width": "40%",
                "targets": [0]
            },
            {
                "width": "40%",
                "searchable": false,
                "targets": [1]
            },
            {
                "width": "10%",
                "searchable": false,
                "sortable": true,
                "orderSequence": ["desc", "asc"],
                "targets": [2]
            },
            {
                "width": "10%",
                "searchable": false,
                "sortable": false,
                "targets": [3]}
            ]
        });
    });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">
    <p>
        <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> Use this feature to control the various subjects, or keywords, used throughout the system. Subjects can be hierarchical, so any subject can be a top-level, or parent, subject (e.g. 'Agriculture') , or a child subject (e.g. 'Livestock').
        You can assign any subject a single parent, but you cannot assign a subject to multiple parents. If you have a subject term that may belong to more than one parent you must create a new subject under each parent.
    </p>
</div>

@Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("Index", new { selectedLetter = x }))


<p>
    <a href="@Url.Action("Create", "Keywords")" title="Add new @DbRes.T("Keywords.Keyword", "FieldDisplayName")" class="btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="keywords" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeywordTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentKeywordID)
            </th>
            <th>
                @DbRes.T("Titles", "EntityType")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.keywords)
        {
            <tr>
                <td>
                    @if (String.IsNullOrEmpty(item.KeywordTerm))
                    {
                        @Html.ActionLink(" ", "Edit", "Keywords", new {id = item.KeywordID}, new {@class = "modal-link"})
                    }
                    else
                    {
                        @Html.ActionLink(item.KeywordTerm, "Edit", "Keywords", new {id = item.KeywordID}, new {@class = "modal-link"})
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword2.KeywordTerm)
                </td>
                <td>
                    @if (item.SubjectIndexes.Count > 0)
                    {
                        <a href="@Url.Action("BySubject", "Titles", new { id = item.KeywordID })" title="View all titles indexed with this @DbRes.T("Keywords.Keyword", "FieldDisplayName" )"><span class="badge badge-link">@item.SubjectIndexes.Count</span></a>
                    }
                </td>
                <td class="just-right">
                    @if(!item.SubjectIndexes.Any() && item.CanDelete)
                    {
                        <a href="@Url.Action("Delete", new {id = item.KeywordID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                    }
                    <a href="@Url.Action("Edit", new {id = item.KeywordID})" class="btn btn-link modal-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
