@using Westwind.Globalization
@model slls.ViewModels.PartsReceivedIndexViewModel

<div id="partslist">
    <table id="partsreceived" class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
                </th>
                <th>
                    @Html.Label(DbRes.T("Copies.Copy_Number", "FieldDisplayName"))
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartReceived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateReceived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Returned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrintList)
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PartsReceivedList)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Copy.Title.Title1, "Edit", "Titles", new { id = item.Copy.TitleID }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.Copy.CopyNumber.ToString(), "Edit", "Copies", new { id = item.CopyID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartReceived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReceived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Returned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrintList)
                    </td>
                    <td>
                        @Html.Raw(item.PartID)
                    </td>
                    <td>
                        @Html.Raw(item.CopyID)
                    </td>
                    <td>
                        @Html.Raw(item.Copy.TitleID)
                    </td>
                    <td>
                        @Html.Raw(item.Copy.Title.FiledTitle)
                    </td>
                    <td>
                        @Html.Raw(item.DateReceivedSortable)
                    </td>
                    <td class="just-right">
                        <a href="@Url.Action("Edit", "PartsReceived", new { id = item.PartID })" class="btn btn-link modal-link" title="Edit @DbRes.T("CheckIn.Part", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Create", "PartsReceived", new { id = item.CopyID })" class="btn btn-link modal-link" title="Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-check"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>