@using Westwind.Globalization
@model slls.ViewModels.PartsReceivedAddViewModel

<script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script>

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CopyID)

            <div class="form-group">
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"), htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Title)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Copy, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Copy)</p>
                </div>
            </div>
           
            <div class="form-group">
                @Html.Label("Part/Issue", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PartReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateReceived, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.DateReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrintList, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.PrintList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateReceived, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btnSave" value="Check In" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @DbRes.T("CheckIn.Check_In_Part", "FieldDisplayName")</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeaderNoJson")

<script type="text/javascript">
    $(document).ready(function () {

        $('#PartReceived').focus();
        
        $('form').submit(function (e) {
            e.preventDefault();
            $.post(this.action, $(this).serialize(), function (response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    $('#stdModal').modal('hide');
                    $('#lrgModal').modal('hide');
                    var copyId = $('#CopyID').val();
                    var url = '@Url.Action("_PartsReceivedSubForm", "PartsReceived", new { id = "REPLACEME" })';
                    $.get(url.replace('REPLACEME', copyId), function (data) {
                        $("#_partsReceived").html(data);
                    });

                }
            }, 'json');
        });
    });
</script>