@using Westwind.Globalization
@model slls.ViewModels.PartsReceivedEditViewModel

<script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script>

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.PartID)

            <div class="form-group">
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"), htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Title)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CopyNumber, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.CopyNumber)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Part/Issue", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PartReceived, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.PartReceived, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateReceived, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-5">
                    @Html.EditorFor(model => model.DateReceived, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateReceived, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrintList, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.PrintList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateReceived, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_ModalEditFooter")
}

@Scripts.Render("~/bundles/modalAddEditHeader")