@using Westwind.Globalization
@model slls.ViewModels.PartsReceivedIndexViewModel

@Html.Partial("_HeaderSeeAlso")

@Html.Partial("_PostAlert")

<div class="alert alert-info">
    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-bottom: 5px;">View @DbRes.T("CheckIn.Parts_Received", "FieldDisplayName").ToLower() by item ...</div>
        <div class="col-md-12" title="Find the item ...">
            @Html.TextBoxFor(x => x.SelectCopy, new {@placeholder = "Start typing the item you want to view ...", @class = "form-control"})
        </div>
    </div>

    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-top: 10px;">
            <a href="@Url.Action("Create", "PartsReceived", new {id = ViewData["CopyID"]})" class="btn btn-primary modal-link" title="Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-check"></span> Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")</a>
            <span id="deleteSelected" name="deleteSelected" ><a href="@Url.Action("DeleteSelected", "PartsReceived")" class="btn btn-danger modal-link" title="Delete all selected" id="btnDeleteSelected"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Selected</a></span>
        </div>
    </div>
</div>

@Html.Partial("_IndexNoSupplier")

<div id="confirmDialog" title="Confirm Delete">
    <p><span id="deleteMsg">You are about to delete the selected parts.</span> This operation cannot be undone.</p>
    <p>Are you sure you want to continue?</p>
</div>

@Html.Hidden("DestUrl", @Url.Action("DeleteSelected", "PartsReceived"))

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.mcautocomplete.js")" type="text/javascript"></script>
    @*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/PartsReceived/_IndexNoSupplier.js")" type="text/javascript"></script>
    <script type="text/javascript">

        function selectAllText(textbox) {
            textbox.focus();
            textbox.select();
        }

        var columns = [{ name: '', minWidth: '0%', valueField: 'copyId' }, { name: 'Title', minWidth: '40%', valueField: 'title' }, { name: 'Copy', minWidth: '10%', valueField: 'copyNumber' }, { name: 'Location', minWidth: '40%', valueField: 'location' }];

        $('#SelectCopy').click(function() { selectAllText(jQuery(this)) });

        $("#SelectCopy").mcautocomplete({
            //autoFocus: true,
            showHeader: true,
            columns: columns,
            source: function(request, response) {
                var title = new Array();
                var urlGetTerms = "@Url.Action("SelectCopiesWithCheckins", "PartsReceived")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { copyId: data[i].CopyId, title: data[i].Title, copyNumber: data[i].CopyNumber, location: data[i].Location };
                        }
                    }
                });
                response(title);
            },
            select: function(event, ui) {
                event.preventDefault();
                if (ui.item) {
                    if (ui.item.copyId != null) {
                        //alert('Here');
                        $('#SelectCopy').val(ui.item.title + " - Copy: " + ui.item.copyNumber);
                        var url = '@Url.Action("Index", "PartsReceived", new {id = "REPLACEME"})';
                        window.location.href = url.replace('REPLACEME', ui.item.copyId);
                    }
                }
            }
        });

    </script>
}
