@using Westwind.Globalization
@model slls.ViewModels.CopyDetailsEditViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">
    @Html.Partial("_SelectCopy")
</div>

<div id="quickcheckin">
    @if ((int)ViewData["CopyID"] > 0)
    {
        @Html.Action("_Summary", "Copies", new { id = Model.CopyId })
    }
</div>

<br />
<br />

<div class="row">
    <div class="col-md-7">
        @if ((int) ViewData["CopyID"] > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="pull-right">
                            <a href="@Url.Action("Create", "PartsReceived", new { id = Model.CopyId })" class="btn btn-success modal-link" style="margin-bottom: 5px;" title="Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-check"></span> Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")</a>
                            <a href="@Url.Action("PrintCirculationSlip", "Circulation", new { id = Model.CopyId })" class="btn btn-primary" style="margin-bottom: 5px;" target="_blank" title="Print @DbRes.T("Circulation.Circulation_Slip", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-print"></span> Print @DbRes.T("Circulation.Circulation_Slip", "FieldDisplayName")</a>
                        </span>
                        <h4>@DbRes.T("CheckIn.Parts_Received", "FieldDisplayName")</h4>
                    </span>
                </div>
                <div class="panel-body">
                    @Html.Action("_PartsReceivedSubForm", "PartsReceived", new { id = Model.CopyId })
                </div>
            </div>
        }
    </div>
    
    <div class="col-md-5">
        @if ((int) ViewData["CopyID"] > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="pull-right">
                            <a href="@Url.Action("AddRecipient", "Circulation", new {id = ViewData["CopyID"]})" class="btn btn-primary modal-link" style="margin-bottom: 5px;" title="Add more @DbRes.T("Circulation.Recipients", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add</a>
                            <a href="@Url.Action("CirculationList", "Circulation", new {copy = ViewData["CopyID"]})" class="btn btn-primary" style="margin-bottom: 5px;" title="Edit @DbRes.T("Circulation.Circulation_List", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit</a>
                        </span>
                        <h4>@DbRes.T("Circulation.Circulation_List", "FieldDisplayName")</h4>
                    </span>
                </div>
                <div class="panel-body">
                    @Html.Action("_CirculationListSubForm", "Circulation", new { id = Model.CopyId })
                </div>
            </div>
        }
    </div>

</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.mcautocomplete.js")" type="text/javascript"></script>
@*@Scripts.Render("~/bundles/datatables")*@
<script src="@Url.Content("~/DataTables/LibraryAdmin/Circulation/_CirculationListSubForm.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#partsreceived').DataTable({
                "dom": 'rt<"inline"i><"inline float-right"p><"clear">',
                "pageLength": 10,
                "order": [[3, 'desc'], [0, 'asc']],
                "columnDefs": [
                    {
                        "searchable": false,
                        "sortable": false,
                        "visible": false,
                        "targets": [3]
                    },
                    {
                        "searchable": false,
                        "sortable": false,
                        "targets": [2, 4]
                    },
                    {
                        "orderData": [3],
                        "targets": [1]
                    }
                ]
            });
        });

        function selectAllText(textbox) {
            textbox.focus();
            textbox.select();
        }

        var columns = [{ name: '', minWidth: '0%', valueField: 'CopyId' }, { name: 'Title', minWidth: '40%', valueField: 'title' }, { name: 'Copy', minWidth: '5%', valueField: 'copyNumber' }, { name: 'Edition', minWidth: '20%', valueField: 'edition' }, { name: 'Year', minWidth: '10%', valueField: 'year' }, { name: 'Author', minWidth: '15%', valueField: 'authors' }];

        $('#SelectCopy').click(function() { selectAllText(jQuery(this)) });

        $("#SelectCopy").mcautocomplete({
            //autoFocus: true,
            showHeader: true,
            columns: columns,
            source: function(request, response) {
                var title = new Array();
                var urlGetTerms = "@Url.Action("Autocomplete", "Copies")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { CopyId: data[i].CopyId, title: data[i].Title, copyNumber: data[i].CopyNumber, edition: data[i].Edition, year: data[i].Year, authors: data[i].AuthorString };
                        }
                    }
                });
                response(title);
            },
            select: function(event, ui) {
                event.preventDefault();
                if (ui.item) {
                    if (ui.item.CopyId != null) {
                        //alert('Here');
                        $('#SelectCopy').val(ui.item.title + " - Copy: " + ui.item.copyNumber);
                        var url = '@Url.Action("QuickCheckIn", "PartsReceived", new {id = "REPLACEME"})';
                        window.location.href = url.replace('REPLACEME', ui.item.CopyId);
                    }
                }
            }
        });

        $('form').submit(function(e) {
            e.preventDefault();
            $.post(this.action, $(this).serialize(), function(response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    //Refresh
                    location.reload();
                }
            }, 'json');
        });
    </script>
}