@using slls.Models
@using slls.Utils.Helpers
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.TitleLink>

<script type="text/javascript">
    $(document).ready(function() {
        $('#titlelinks').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs": [
                {
                    "width": "30%",
                    "targets": [0, 1]
                },
               {
                   "orderData": 4,
                   "targets": [0],
                   "orderSequence": ["desc", "asc"]
               },
               {
                   "visible": false,
                   "targets": [4]
               },
                {
                    "sortable": false,
                    "width": "10%",
                    "targets": [5]
                }
            ]
        });
    });
</script>

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    <p>
        The following @DbRes.T("TitleLinks", "EntityType") could not be verified as being valid using the Link Checker tool.  All of the following @DbRes.T("TitleLinks", "EntityType") reported an error when attempting to get an automated response. The '@DbRes.T("TitleLinks.Link_Status", "FieldDisplayName")' column provides further details.
    </p>
</div>


    <p>
        <a href="@Url.Action("CheckLinks", "TitleLinks")" title="Check @DbRes.T("TitleLinks", "EntityType")" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Recheck Links</a>
    </p>

    <table class="table" id="titlelinks">
        <thead>
            <tr>
                <th>
                    @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.URL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsValid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkStatus)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title.Title1)
                    </td>
                    <td>
                        @Html.ResolvedLink(item.URL, item.FileId ?? 0, item.HoverTip, item.DisplayText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsValid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkStatus)
                    </td>
                    <td>
                        @Html.Raw(item.Title.FiledTitle)
                    </td>
                    <td class="just-right">
                        <a href="@Url.Action("Delete", new {id = item.TitleLinkID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                        <a href="@Url.Action("Edit", new {id = item.TitleLinkID})" class="btn btn-link modal-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
