@model slls.ViewModels.AddTitleWithAutoCatViewModel

@using (Html.BeginForm("_autoCat", "Titles", "Post"))
{
    @Html.Hidden("titleId")

    @Html.AntiForgeryToken()

    <div class="row" style="margin-right: 0">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                @Html.Label("Enter, scan or paste an ISBN", new { @class = "control-label col-md-3" })
                <div class="col-md-3" style="margin-bottom: 5px;">
                    @Html.EditorFor(model => model.Isbn, new { htmlAttributes = new { @class = "form-control" } })
                    <span id="feedback" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="warning-msg" class="text-danger" style="display: none;">This ISBN does not appear to be valid!</span>
                    <span id="showTitleDiv" style="display: none;"><a href="@Url.Action("Edit", "Titles", new {id = "xxx"})" class="btn btn-link" id="showTitleLink">View @Model.EntityName</a></span>
                    @Html.ValidationMessage("ErrorMessage", new { @class = "text-danger" })
                    @Html.ValidationMessage("NotFound", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Isbn, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-inline">
                    <span id="addNewCopyDiv" style="display: none;">
                        <a href="@Url.Action("Add", "Copies", new {id = "xxx"})" class="btn btn-success" title="Add a new copy to the existing item" id="btnAddCopy"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add As New Copy</a>&nbsp;&nbsp;or&nbsp;&nbsp;
                    </span>
                    <span class="btn-group">
                        <button class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Download from
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="sources" name="sources">
                            @foreach (var source in Model.Sources)
                            {
                                <li><button type="submit" name="source" id="source" value=@source title="@source" class="btn btn-link">@source</button></li>
                            }
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
}