@using System.Linq
@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.TitlesListViewModel

<script type="text/javascript">
    $(document).ready(function() {
        $('#titles').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "order": [0, 'asc'],
            "autoWidth": false,
            "columnDefs": [
                {
                    "width": "25%",
                    "orderData": 8,
                    "targets": [0],
                    "orderSequence": ["desc", "asc"]
                    //,
                    //"render": function(data, type, row) {
                    //    return '<a href="Edit/' + row[7] + '" class="btn-link">' + data + '</a>';
                    //}
                },
                {
                    "width": "10%",
                    "targets": [1, 3]
                },
                {
                    "width": "15%",
                    "targets": [2, 4, 5]
                },
                {
                    "width": "10%",
                    "targets": [6]
                },
                {
                    "visible": false,
                    "targets": [7, 8]
                },
                {
                    "sortable": false,
                    "width": "10%",
                    "targets": [9]
                }
            ],
            initComplete: function() {
                var api = this.api();
                this.api().columns('.select-filter').every(function() {
                    var column = this;
                    var select = $('<select class="form-control" style="width:100%;"><option value=""></option></select>')
                        .appendTo($(column.footer()))
                        .on('change', function() {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
    });
</script>

<table id="titles" class="table table-condensed table-hover">
    <thead>
    <tr>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.Title", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.ISBN_ISSN", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.Publisher", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.Published_Year", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.Edition", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Titles.Authors", "FieldDisplayName"))
        </th>
        <th>
            @Html.DisplayName(DbRes.T("Titles.Copies", "FieldDisplayName"))
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td></td>
        </tr>
    </tfoot>

    <tbody>
    @if (Model.Titles.Any())
    { 
    foreach (var item in Model.Titles)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Title1)*@
                <a href="@Url.Action("Edit", "Titles", new { id = item.TitleID})">@Html.DisplayFor(modelItem => item.Title1)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @foreach (var author in item.TitleAuthors)
                {
                    <a href="@Url.Action("Edit", "Authors", new {id = author.AuthorId}, null)" class="modal-link" title="View/Edit Author">@author.Author.DisplayName</a><br/>
                }
            </td>
            <td>
                @if (item.Copies.Any())
                {
                    <a href="@Url.Action("Edit", "Copies", new {id = item.Copies.FirstOrDefault().CopyID}, null)" class="btn-link" title="View/Edit Copies"><span class="badge badge-link">@item.Copies.Count</span></a><br/>
                }
                @*else
                {
                    @Html.DisplayFor(modelItem => item.Copies.Count)
                }*@</td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiledTitle)
            </td>
            <td class="just-right">
                <a href="@Url.Action("Add", "TitleImages", new {id = item.TitleID})" class="btn btn-link" data-toggle="modal" data-target="#lrgModal" title="Add @DbRes.T("Images.Image", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="@Url.Action("Delete", new { id = item.TitleID, view = @Html.CurrentViewName() })" class="btn btn-link modal-link" title="Delete @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                @if (@Html.CurrentViewName() == "TitlesNoCopies")
                {
                    <a href="@Url.Action("Add", "Copies", new {id = item.TitleID})" class="btn btn-link" title="Add @DbRes.T("Copies.Copy", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
                }
            </td>
        </tr>
    }
    }
    </tbody>

</table>
