@using slls.Utils.Helpers
@model slls.ViewModels.AddTitleWithAutoCatViewModel

@Html.HiddenFor(x => Model.HasErrors)

<div class="alert alert-info">
    <p>
        Use this tool to add any new records using the AutoCat&copy; tool. Simply enter or scan a valid 10- or 13-digit <a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number" title="ISBN" target="_blank"><strong>ISBN</strong></a>. You may also paste in a list of ISBNs, separated by one of the following common symbols  (", ; / \ [space]").
        There are various sources of data, so if one doesn't find the records you are looking for, try another.
    </p>
    <p><strong>Note: </strong>Not all items may be found. Despite having a valid ISBN, the selected sources may not hold any available data.</p>
</div>

@using (Ajax.BeginForm("PostIsbnLookup", "Titles", "Post",
 new AjaxOptions { UpdateTargetId = "progress" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => Model.Who)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Enter, scan or paste one or more ISBNs", new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.IsbnInput, new { htmlAttributes = new { @class = "form-control small" } })
                @Html.ValidationMessageFor(model => model.IsbnInput, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ISBNs to find", new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.ListBox("Isbnlist", Model.ErrorList, new { size = 15, @class = "form-control", @id = "Isbnlist" })
            </div>
            <div class="col-md-4">
                <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                    <strong>Warning: </strong>You have entered one or more invalid ISBNs. AutoCat will ignore any invalid ISBNs when attempting to download bibliographic details.
                </div>
                <div id="messages"></div>
                <div id="recentlyAdded" style="display: none;"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span> @Html.ActionLink("View Here", "RecentlyAdded", new { days = 1 })</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="progress" style="display: none; margin-top: 20px;">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" id="progress-bar" role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <span style="line-height: 30px;" id="progress"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Download from
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="sources" name="sources">
            @foreach (var source in Model.Sources)
            {
                <li><button type="submit" name="source" id="source" value=@source title="@source" class="btn btn-link">@source</button></li>
            }
        </ul>
    </div>
    <span>&nbsp;&nbsp;or&nbsp;<button type="button" id="btnCancel" class="btn-link" onclick="window.history.back();">Cancel</button></span>

}