@model IEnumerable<slls.Models.Copy>

<table id="copies" class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Location1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusType.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Holdings)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Barcodes)
        </th>*@
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(c => c.CopyNumber))
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(item.CopyNumber.ToString()))
                {
                    @Html.ActionLink(" ", "Edit", "Copies", new { id = item.CopyNumber }, null)
                }
                else
                {
                    @Html.ActionLink(item.CopyNumber.ToString(), "Edit", "Copies", new { id = item.CopyID }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Location1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Holdings)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Barcodes)
            </td>*@
            <td>
            <td class="just-right">

                <a href="@Url.Action("Edit", "Copies", new { id = item.CopyID }, null)" class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-pencil" /></a>
                <a href="@Url.Action("Delete", "Copies", new { id = item.CopyID }, null)" class="btn btn-link" title="Delete"><span class="glyphicon glyphicon-trash" /></a>

            </td>
        </tr>
    }
    </tbody>
</table>
