@using Westwind.Globalization
@model slls.ViewModels.TitleDetailsViewModel

@Html.Label(DbRes.T("MediaTypes.Media_Type", "FieldDisplayName"))&nbsp;&nbsp;<a href="@Url.Action("_add", "MediaTypes")" class="button" id="addMediaLink" title="@DbRes.T("MediaTypes.Media_Type", "FieldDisplayName") not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
@Html.DropDownList("MediaID", null, new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.MediaID, "", new { @class = "text-danger" })

<div id="newMediaDialog" title="Add New @DbRes.T("MediaTypes.Media_Type", "FieldDisplayName")"></div>
