@model slls.ViewModels.TitleEditViewModel
@using Westwind.Globalization

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectTitle" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-right: 0">
        <div class="col-md-12">To view/edit another item, start typing part of the title ...</div>
        <div class="col-md-12" title="To view/edit another title, start typing ...">
            @Html.TextBoxFor(x => x.SelectTitle, new {@class = "form-control"})
        </div>
        <br/>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add &bull; Print &bull; Duplicate &bull; Delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add New @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("DuplicateTitle", "Titles", new {id = Model.TitleID})" title="Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")" class="modal-link"><span aria-hidden="true" class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("PrintDetails", "Titles", new {id = Model.TitleID})" title="Print @DbRes.T("Titles.Title", "FieldDisplayName") details"><span aria-hidden="true" class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print @DbRes.T("Titles.Title", "FieldDisplayName") details</a></li>
                    <li><a href="@Url.Action("Delete", "Titles", new {id = Model.TitleID})" class="modal-link" title="Delete Title"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                </ul>
            </div>
            
        </div>
    </div>
}

    @Scripts.Render("~/Scripts/jquery.mcautocomplete.js")

    <script type="text/javascript">

        function selectAllText(textbox) {
            textbox.focus();
            textbox.select();
        }

        var columns = [{ name: '', minWidth: '0%', valueField: 'Id' }, { name: 'Title', minWidth: '40%', valueField: 'title' }, { name: 'Edition', minWidth: '20%', valueField: 'edition' }, { name: 'Year', minWidth: '10%', valueField: 'year' }, { name: 'Author', minWidth: '20%', valueField: 'authors' }];

        $('#SelectTitle').click(function() { selectAllText(jQuery(this)) });

        $("#SelectTitle").mcautocomplete({
            //appendTo: "#stdModal",
            autoFocus: true,
            showHeader: true,
            columns: columns,
            source: function(request, response) {
                var title = new Array();
                var urlGetTerms = "@Url.Action("Autocomplete", "Titles")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { Id: data[i].TitleId, title: data[i].Title, edition: data[i].Edition, year: data[i].Year, authors: data[i].Authors };
                        }
                    }
                });
                response(title);
            },
            select: function(event, ui) {
                event.preventDefault();
                if (ui.item) {
                    if (ui.item.Id != null) {
                        $('#SelectTitle').val(ui.item.title);
                        var url = '@Url.Action("Edit", "Titles", new {id = "REPLACEME"})';
                        window.location.href = url.replace('REPLACEME', ui.item.Id);
                    }
                }
            }
        });

        $("#TitleID").change(function() {
            sessionStorage.removeItem('lastTab_EditTitle');
        });
    </script>
