@using Westwind.Globalization
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />*@
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectTitle" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-right: 0">
        <div class="col-md-9">@Html.DropDownList("TitleId", null, new { onchange = "window.location.href = this.options[this.selectedIndex].value;", @class = "form-control selectpicker" })</div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add &bull; Print &bull; Duplicate &bull; Delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add New @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("DuplicateTitle", "Titles", new {id = Model.TitleID})" title="Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")" class="modal-link"><span aria-hidden="true" class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("PrintDetails", "Titles", new {id = Model.TitleID})" title="Print @DbRes.T("Titles.Title", "FieldDisplayName") details"><span aria-hidden="true" class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print @DbRes.T("Titles.Title", "FieldDisplayName") details</a></li>
                    <li><a href="@Url.Action("Delete", "Titles", new {id = Model.TitleID})" class="modal-link" title="Delete Title"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                </ul>
            </div>
            @*<a href="@Url.Action("Delete", new {id = Model.TitleID})" class="btn btn-danger modal-link" title="Delete Title"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>*@
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });

    $("#TitleID").change(function () {
        sessionStorage.removeItem('lastTab_EditTitle');
    });
</script>
