@using Westwind.Globalization
@model slls.ViewModels.TitleDetailsViewModel

@Html.Label(DbRes.T("Audiences.Audience", "FieldDisplayName"))&nbsp;&nbsp;<a href="@Url.Action("_add","Audiences")" class="button modal-link" id="addAudienceLink" title="@DbRes.T("Audiences.Audience", "FieldDisplayName") not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
@Html.DropDownList("AudienceID", null, new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.AudienceID, "", new { @class = "text-danger" })

<div id="newAudienceDialog" title="Add New @DbRes.T("Audiences.Audience", "FieldDisplayName")"></div>