@using slls.Utils.Helpers
@using VortexSoft.Bootstrap
@model slls.ViewModels.AddTitleWithAutoCatViewModel

@Html.Partial("_HeaderSeeAlso", Model)


@using (var tabs = Html.Bootstrap().Begin(new Tabs()))
{
    tabs.Tab("ISBN Lookup", "itemLookup");
    tabs.Tab("Copac Search", "copac");

    using (tabs.BeginPanel())
    {
        <div>
            @Html.Action("_IsbnLookup", "Titles")
        </div>
    }

    using (tabs.BeginPanel())
    {
        <div>
            @Html.Action("_copacSearch", "Titles", new { notSelected = ViewData["NotSelected"] })
        </div>
    }
}

@section scripts {
    @Scripts.Render("~/bundles/signalR")
    <script src="@Html.ResolveUrl("~/signalr/hubs")"></script>
    <script type="text/javascript">
        $(function() {
            var pageName = "AutoCat";
            $('a[data-toggle="tab"]').on('click', function(e) {
                //save the latest tab ...
                var target = e.target.attributes.href.value;
                sessionStorage.setItem('lastTab_' + pageName, target);

                if (target === "#copac") {
                    //alert('Copac');
                } else {
                    $(target + ' input').focus();
                    //$('#IsbnInput').focus();
                }
            });

            //go to the latest tab, if it exists:
            var lastTab = sessionStorage.getItem('lastTab_' + pageName);
            if (lastTab) {
                $('a[href="' + lastTab + '"]').click();
            }
        });
    </script>
}