@using Westwind.Globalization
@model slls.ViewModels.TitlesListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="alert alert-info">
        <div class="row" style="margin-right: 0">
            <div class="col-md-12">
                <p><span class="glyphicon glyphicon-info-sign"></span> Start searching for an @DbRes.T("Authors.Author", "FieldDisplayName") by entering at least two letters of any part of the name in the box below:</p>
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(x => x.SelectItem, new { @placeholder = "Start typing the name you are looking for ...", @class = "form-control" })
            </div>
        </div>
    </div>
}

<div id="TitlesTable">
    @Html.Partial("_Index", Model)
</div>

@Html.Hidden("DestUrl", @Url.Action("BrowseByAuthor", "Titles", new { id = "REPLACEME" }))

@section scripts {
@Scripts.Render("~/bundles/selectPicker")
@*@Scripts.Render("~/bundles/datatables")*@
<script src="@Url.Content("~/DataTables/LibraryAdmin/Titles/_Index.js")" type="text/javascript"></script>

    <script type="text/javascript">

        function selectAllText(textbox) {
            textbox.focus();
            textbox.select();
        }

        $('#SelectItem').click(function () { selectAllText(jQuery(this)) });

        $("#SelectItem").autocomplete({
            source: function(request, response) {
                var title = new Array();
                var urlGetTerms = "@Url.Action("AutoCompleteAuthors", "Titles")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(title);
            },
            select: function(event, ui) {
                event.preventDefault();
                if (ui.item) {
                    if (ui.item.Id != null) {
                        $('#SelectItem').val(ui.item.title);
                        var url = $("#DestUrl").val();
                        window.location.href = url.replace('REPLACEME', ui.item.Id);
                    }
                }
            }
        });

    </script>
}