@model slls.Models.Title

<script type="text/javascript">
    $(document).ready(function() {
        $('#copies').DataTable({
            pageLength: -1,
            "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
            "columns": [
            null,
            null,
            null,
            null,
            null
            ],
            paging: true,
            "info": true,
            "searching": false,
            "pagingType": "simple_numbers",
            "bLengthChange": false
        });
    });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TitleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title1)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.TitleAuthors)
            </dt>

            @foreach (var author in ViewBag.Authors)
            {
                <dd>
                    @author.ToString()
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.TitleEditors)
            </dt>

            @foreach (var editor in ViewBag.Editors)
            {
                <dd>
                    @editor.ToString()
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Series)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Series)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Edition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Edition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlaceofPublication)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceofPublication)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ISBN)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.ISBN10)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN10)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISBN13)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN13)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Citation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Citation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Source)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Source)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NonFilingChars)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NonFilingChars)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCatalogued)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCatalogued)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Classmark.Classmark1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Classmark.Classmark1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDetails.LastOrDefault().Supplier.SupplierName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDetails.LastOrDefault().Supplier.SupplierName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Frequency.Frequency1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Frequency.Frequency1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Language.Language1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Language.Language1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MediaType.Media)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MediaType.Media)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubjectIndexes)
            </dt>

            @foreach (var keyword in ViewBag.Keywords)
            {
                <dd>
                    @keyword.ToString()
                </dd>
            }

        </dl>
    </div>

    <div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Copies)
            </dt>
            <dd>
                <table id="copies" class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.Copies.FirstOrDefault().CopyNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Copies.FirstOrDefault().Holdings)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Copies.FirstOrDefault().Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Copies.FirstOrDefault().StatusType.Status)
                        </th>
                        <th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var copy in Model.Copies)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => copy.CopyNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => copy.Holdings)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => copy.Location.Location1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => copy.StatusType.Status)
                                </td>
                                <td style="text-align: right;">
                                    @Html.ActionLink("Edit", "Edit", "Copies", new { id = copy.CopyID }, null) |
                                    @*@Html.ActionLink("Details", "Details", new { id = item.CopyID }) |*@
                                    @Html.ActionLink("Delete", "Delete", "Copies", new { id = copy.CopyID }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>


