@using Westwind.Globalization
@model slls.Models.Title

@Html.Partial("_HeaderSeeAlso", Model)

<div class="well">

    <span class="help-block">Select the item you wish to view or edit from the dropdown list of available titles below.</span>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            <div class="form-group" title="@ViewBag.Message">
                @Html.DropDownList("TitleId", null, new {onchange = "window.location.href = 'Edit/' + this.options[this.selectedIndex].value;", @class = "form-control"})
            </div>
        </form>
    }

    <p>
        <a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("Titles.Title", "FieldDisplayName") </a>
    </p>
</div>

    <script type="text/javascript">
        $(function () {
            sessionStorage.removeItem('lastTab');
        });
    </script>
