@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.SelectTitleViewmodel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">

    <span class="help-block">@Html.Raw(Model.HelpText)</span>

    @using (Html.BeginForm("Select", "Titles", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ReturnAction)
        @Html.HiddenFor(model => model.Tab)

        <div class="form-group" title="@Model.Message">
            @Html.DropDownListFor(model => model.TitleID, Model.Titles, new { @class = "form-control", onchange = "this.form.submit();" })
            @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
        </div>

        <p>
            @*<a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("Titles.Title", "FieldDisplayName") </a>*@
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add new @DbRes.T("Titles.Title", "FieldDisplayName") <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add New @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("DuplicateTitle", "Titles", new {id = Model.TitleID})" title="Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Duplicate Existing @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                </ul>
            </div>
            &nbsp;&nbsp;or&nbsp;@Html.BackButton()
        </p>
    }

</div>

<script type="text/javascript">
    $(function () {
        sessionStorage.removeItem('lastTab');
    });
</script>
