@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.SelectTitleViewmodel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">

    <span class="help-block">@Html.Raw(Model.HelpText)</span>

    @using (Html.BeginForm("Select", "Titles", FormMethod.Post, new { id = "frmSelect", name = "frmSelect" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ReturnAction)
        @Html.HiddenFor(model => model.Tab)

        <div class="form-group" title="@Model.Message">
            @*@Html.DropDownListFor(model => model.TitleID, Model.Titles, new { @class = "form-control selectpicker", onchange = "this.form.submit();" })*@
            @Html.TextBoxFor(x => x.Title, new { @placeholder = "Start typing the term you are looking for ...", @class = "form-control" })
            @Html.HiddenFor(model => model.TitleID)
            @*@Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })*@
        </div>

        <p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add new @DbRes.T("Titles.Title", "FieldDisplayName") <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "Titles")" title="Add new @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add New @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("DuplicateTitle", "Titles", new {id = Model.TitleID})" title="Duplicate @DbRes.T("Titles.Title", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Duplicate Existing @DbRes.T("Titles.Title", "FieldDisplayName")</a></li>
                </ul>
            </div>
            &nbsp;&nbsp;or&nbsp;@Html.BackButton()
        </p>
    }

</div>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $('.selectpicker').selectpicker({
    //        liveSearch: true,
    //        showSubtext: true
    //    });
    //});

    $("#Title").autocomplete({
        //appendTo: "#stdModal",
        source: function (request, response) {
            var title = new Array();
            var urlGetTerms = "@Url.Action("Autocomplete", "Titles")";
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: urlGetTerms,
                data: { "term": request.term },
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        title[i] = { label: data[i].Value, Id: data[i].Key };
                    }
                }
            });
            response(title);
        },
        select: function (event, ui) {
            if (ui.item) {
                //alert(ui.item.label);
                if (ui.item.Id != null) {
                    $('#TitleID').val(ui.item.Id);
                    document.frmSelect.submit();
                }
            }
        }
    });

    $("#TitleID").change(function () {
        sessionStorage.removeItem('lastTab_EditTitle');
    });
</script>
