@using System.Linq
@using Westwind.Globalization
@model slls.ViewModels.DefaultValueIndexViewModel

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        <strong>Tip: </strong>Use this feature to set the default values that are applied when adding new records. These values are derived from their respective authority lists.
    </p>
</div>

<table id="defaultValues" class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValues.FirstOrDefault().TableName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValues.FirstOrDefault().FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValues.FirstOrDefault().DefaultValueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValues.FirstOrDefault().ChildTableName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DefaultValues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TableName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldName)
                </td>
                <td>
                    @Html.ActionLink(string.IsNullOrEmpty(item.DefaultValue) ? " " : item.DefaultValue, "Edit", "DefaultValues", new { id = item.DefaultId }, new { @class = "modal-link", title = "Edit Default Value" })
                </td>
                <td>
                    <a href="@Url.Action("Index", item.ChildTableName)" title="View/Edit Authority List">@item.ChildTableName</a>
                </td>
                <td class="just-right">
                    <a href="@Url.Action("Edit", new {id = item.DefaultId})" class="btn btn-link modal-link" title="Edit Default Value"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#defaultValues').DataTable({
                "dom": sDom,
                "pagingType": sPagingType,
                "pageLength": sPageLength,
                "lengthMenu": sLengthMenu,
                "language": {
                    "url": "/DataTables/lang.txt"
                },
                "columnDefs": [
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": false,
                        "targets": [4]
                    }
                ]
            });
        });
    </script>
}