@using System.Linq
@using Westwind.Globalization
@model slls.ViewModels.TitlesReportsViewModel

@Html.Partial("_PrintHeader")

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <h3 class="report_h3">@Html.DisplayFor(x => Model.Publisher.PublisherName)</h3>
        @foreach (var title in Model.Titles.OrderBy(x => x.CatalogueByAuthor))
        {
            <h4 class="report_h4">@Html.DisplayFor(x => title.CatalogueByAuthor)</h4>
            <p>@Html.DisplayFor(x => title.DescriptionAndImprint)</p>
            <p>@DbRes.T("Classmarks.Classmark", "FieldDisplayName") : @Html.DisplayFor(modelItem => title.Classmark.ClassmarkDisplay)</p>

            {
                var copies = from c in title.Copies
                             where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                             select c;

                foreach (var copy in copies.OrderBy(c => c.CopyNumber))
                {
                    <div class="row">
                        <div class="col-md-12 col-md-push-1">
                            <p>@Html.DisplayFor(modelItem => copy.CopyLocationStatus)</p>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>












