@using System.Linq
@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.TitlesReportsViewModel

@Html.Partial("_PrintHeader")

        <h2>@ViewBag.Title</h2>
        <hr />

        @foreach (var mediaType in Model.MediaTypes.OrderBy(m => string.IsNullOrEmpty(m.Media) ? "xxx" : m.Media))
        {
            <h2>@Html.DisplayFor(x => mediaType.MediaDisplay)</h2>
            {
                DbEntities db = new DbEntities();
                var type = mediaType;
                var classmarks = (from c in db.Classmarks
                                  join t in db.Titles on c.ClassmarkID equals t.ClassmarkID
                                  where t.MediaID == type.MediaID
                                  select c).Distinct();

                foreach (var classmark in classmarks.OrderBy(c => string.IsNullOrEmpty(c.Classmark1) ? "xxx" : c.Classmark1))
                {
                    <h3 class="report_h3">@DbRes.T("Classmarks.Classmark", "FieldDisplayName") : @Html.DisplayFor(x => classmark.ClassmarkDisplay)</h3>
                    {
                        var titles = (from t in classmark.Titles
                                      join c in db.Copies on t.TitleID equals c.TitleID
                                      where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                      select t).Distinct();

                        foreach (var title in titles.OrderBy(x => x.FiledTitle))
                        {
                            <h4 class="report_h4">@Html.DisplayFor(x => title.CatalogueByTitle)</h4>
                            <p>@Html.DisplayFor(x => title.DescriptionAndImprint)</p>
                            {
                                var copies = from c in title.Copies
                                             where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                             select c;

                                foreach (var copy2 in copies.OrderBy(c => c.CopyNumber))
                                {
                                    <div class="row">
                                        <div class="col-md-12 col-md-push-1">
                                            <p>@Html.DisplayFor(modelItem => copy2.CopyLocationStatus)</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            }
        }