@using System.Linq
@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.TitlesReportsViewModel

@Html.Partial("_PrintHeader")

        <h2>@ViewBag.Title</h2>
        <hr />


        <div class="row">
            <div class="col-md-12">
                <h2>@Html.DisplayFor(x => Model.Publisher.PublisherName)</h2>

                @foreach (var keyword in Model.Keywords.OrderBy(k => string.IsNullOrEmpty(k.KeywordTerm) ? "xxx" : k.KeywordTerm))
                {
                    <h3 class="report_h3">@Html.DisplayFor(k => keyword.KeywordDisplay)</h3>
                    {
                        DbEntities db = new DbEntities();
                        var titles = (from x in keyword.SubjectIndexes
                                      join t in db.Titles on x.TitleID equals t.TitleID
                                      join c in db.Copies on t.TitleID equals c.TitleID
                                      where t.PublisherID == Model.Publisher.PublisherID && c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                      select t).Distinct();

                        foreach (var title in titles.OrderBy(t => t.CatalogueByAuthor))
                        {
                            <h4 class="report_h4">@Html.DisplayFor(x => title.CatalogueByAuthor)</h4>
                            <p>@Html.DisplayFor(x => title.DescriptionAndImprint)</p>
                            if (string.IsNullOrEmpty(title.Classmark.Classmark1))
                            {
                                <p>@DbRes.T("Classmarks.Classmark", "FieldDisplayName") : @Html.DisplayFor(modelItem => title.Classmark.ClassmarkDisplay)</p>
                            }

                            {
                                var copies = from c in title.Copies
                                             where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                             select c;

                                foreach (var copy in copies.OrderBy(c => c.CopyNumber))
                                {
                                    <div class="row">
                                        <div class="col-md-12 col-md-push-1">
                                            <p>@Html.DisplayFor(modelItem => copy.CopyLocationStatus)</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </div>











