@using System.Linq
@using slls.Models
@model slls.ViewModels.TitlesReportsViewModel

@Html.Partial("_PrintHeader")

        <h2>@ViewBag.Title</h2>
        <hr />

        @foreach (var mediaType in Model.MediaTypes.OrderBy(m => string.IsNullOrEmpty(m.Media) ? "xxx" : m.Media))
        {
            <div class="row">
                <div class="col-md-12">
                    <h2>@Html.DisplayFor(x => mediaType.MediaDisplay)</h2>

                    @{
                        DbEntities db = new DbEntities();
                        var type = mediaType;
                        var keywords = (from x in db.SubjectIndexes
                                          join t in db.Titles on x.TitleID equals t.TitleID
                                          join c in db.Copies on t.TitleID equals c.TitleID
                                          where t.MediaID == type.MediaID && c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                          select x.Keyword).Distinct();
                    }

                    @foreach (var keyword in keywords.OrderBy(k => string.IsNullOrEmpty(k.KeywordTerm) ? "xxx" : k.KeywordTerm))
                    {
                        <div class="row">
                            <div class="col-md-12 col-md-push-1">
                                <h3 class="report_h3">@Html.DisplayFor(x => keyword.KeywordDisplay)</h3>

                                @{
                                    var titles = (from x in keyword.SubjectIndexes
                                        join c in db.Copies on x.TitleID equals c.TitleID
                                        where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                        select x.Title).Distinct();
                                
                                    foreach (var title in titles)
                                    {
                                        <div class="row">
                                            <div class="col-md-12 col-md-push-1">
                                                <h4 class="report_h4">@Html.DisplayFor(item => title.CatalogueByAuthor)</h4>
                                                <p>@Html.DisplayFor(item => title.DescriptionAndImprint)</p>

                                                @{
                                                    var copies = from c in title.Copies
                                                        where c.StatusID != null && Model.StatusTypes.Contains(c.StatusID.Value)
                                                        select c;
                                                    
                                                    foreach (var copy in copies.OrderBy(c => c.CopyNumber))
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-12 col-md-push-1">
                                                                <p>@Html.DisplayFor(modelItem => copy.CopyLocationStatus)</p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }