@using System
@using System.Linq
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.LibraryUserBookmark>

<script type="text/javascript">
    $(document).ready(function() {
        $('#bookmarks').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs": [
                {
                    "visible": false,
                    "targets": [3,4]
                },
                {
                    "sortable": false,
                    "searchable": false,
                    "targets": [5]
                },
                {
                    "orderData": [3],
                    "targets": [2]
                },
                {
                    "orderData": [4],
                    "targets": [3]
                }
            ]
        });
    });
</script>

@Html.Partial("_HeaderCancel")

<table class="table" id="bookmarks">
    <thead>
    <tr>
        <th>
            @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(t => t.Title.Title1.Substring(t.Title.NonFilingChars)))
        {
            <tr>
                <td>
                    <a href="@Url.Action("BookDetails", "Home", new { id = item.TitleID })" title="View this bookmarked item">@Html.DisplayFor(modelItem => item.Title.Title1)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InputDate)
                </td>
                <td>
                    @Html.Raw(item.InputDateSortable)
                </td>
                <td>
                    @Html.Raw(item.Title.FiledTitle)
                </td>
                <td class="just-right">
                    <a href="@Url.Action("Delete", new {id = item.BookmarkID})" class="btn btn-link modal-link" title="Delete this Bookmark"><span class=" glyphicon glyphicon-trash"></span></a>
                    <a href="@Url.Action("Edit", new {id = item.BookmarkID})" c class="btn btn-link modal-link" title="Edit this Bookmark"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div id="alertDialog" title="@ViewBag.Title"><p id="contentholder"></p></div>

<script type="text/javascript">
    $(document).ready(function () {
        if (@Model.Count() === 0) {
            $('#alertDialog').dialog({
                open: function () {
                    var text = "@ViewBag.AlertMsg";
                    $(this).closest(".ui-dialog")
                    .find(".ui-dialog-titlebar-close")
                    .removeClass("ui-icon-closethick")
                    .addClass("btn btn-default")
                    .text("X"),
                    $("#contentholder").html(text);

                },
                autoOpen: true,
                modal: true,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: [
                {
                    text: " @DbRes.T("Buttons.Ok","Terminology") ",
                    "class": 'btn btn-primary',
                    click: function () {
                        $(this).dialog('close');
                    }
                }
                ]
            });
        }
    });

</script>*@
