@model slls.ViewModels.TitleAddViewModel

@Html.LabelFor(model => model.LanguageID, new { @class = "control-label col-md-2" })

<div class="col-md-5">
    @Html.DropDownList("LanguageID", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.LanguageID, "", new { @class = "text-danger" })
</div>

<div class="col-sm-1 hidden-sm hidden-xs" style="padding-top: 5px; padding-left: 0">
    <a href="@Url.Action("_add", "Languages")" class="button" id="addLanguageLink" title="Language not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
</div>

<div id="newLanguageDialog" title="Add New Language"></div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#newLanguageDialog').dialog({
                open: function() {
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-icon-closethick")
                        .addClass("btn btn-default")
                        .text("X");
                },
                autoOpen: false,
                modal: true,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: [
                    {
                        text: 'Save',
                        "class": 'btn btn-success',
                        click: function() {
                            var addNewFrm = $('#addLanguageForm');
                            if (addNewFrm.valid()) {
                                $.ajax({
                                    url: '@Url.Action("_add", "Languages")',
                                    type: 'Post',
                                    data: addNewFrm.serialize(),
                                    async: false,
                                    success: function(data) {
                                        if (data.success) {
                                            $('#LanguageID').append(
                                                $('<option></option>')
                                                .val(data.newData.LanguageID)
                                                .html(data.newData.Language1)
                                                .prop('selected', true)
                                            );
                                            $('#newLanguageDialog').dialog('close');
                                        } else {
                                            alert(data.errMsg);
                                        }
                                    },
                                    error: function() {
                                        alert("Oops, there has been an error.");
                                    }
                                });
                            }
                        }
                    },
                    {
                        text: 'Cancel',
                        "class": 'btn btn-default',
                        click: function() {
                            $('#LanguageID').val(0);
                            $(this).dialog('close');
                        }
                    }
                ]
            });
        });
        $('#addLanguageLink').click(function() {
            var createFormUrl = $(this).attr('href');
            $('#newLanguageDialog').html('')
                .load(createFormUrl, function() {
                    jQuery.validator.unobtrusive.parse('#addNewFrm');
                    $('#newLanguageDialog').dialog('open');
                });
            return false;
        });

        $('#LanguageID').change(function() {
            if (this.value === "-1") {
                var createFormUrl = $('#addLanguageLink').attr('href');
                $('#newLanguageDialog').html('')
                    .load(createFormUrl, function() {
                        //jQuery.validator.unobtrusive.parse('#addNewFrm');
                        $('#newLanguageDialog').dialog('open');
                    });
            }
            return false;
        });
    </script>
}