@model slls.ViewModels.CopyDetailsEditViewModel
@using Westwind.Globalization

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectCopy" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-bottom: 5px;">@Model.SelectCopyTip</div>
        <div class="col-md-12" title="@Model.SelectCopyTip">
            @Html.TextBoxFor(x => x.SelectCopy, new { @placeholder = @Model.SelectCopyPlaceHolder, @class = "form-control" })
        </div>
    </div>
}