@using Westwind.Globalization
@model slls.ViewModels.TitleAddViewModel

@Html.LabelFor(model => model.GenreID, new { @class = "control-label col-md-2" })

<div class="col-md-5">
    @Html.DropDownList("GenreID", null, new {@class = "form-control"})
    @Html.ValidationMessageFor(model => model.GenreID, "", new {@class = "text-danger"})
</div>

<div class="col-sm-1 hidden-sm hidden-xs" style="padding-top: 5px; padding-left: 0">
    <a href="@Url.Action("_add", "Genres")" class="button" id="addGenreLink" title="@DbRes.T("Genres.Genre", "FieldDisplayName") not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
</div>

<div id="newGenreDialog" title="Add New @DbRes.T("Genres.Genre", "FieldDisplayName")"></div>

