@using Westwind.Globalization
@model slls.ViewModels.TitleAddViewModel

@Html.LabelFor(model => model.MediaID, new { @class = "control-label col-md-2" })
<div class="col-md-5">
    @Html.DropDownList("MediaID", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.MediaID, "", new { @class = "text-danger" })
</div>

<div class="col-sm-1 hidden-sm hidden-xs" style="padding-top: 5px; padding-left: 0">
    <a href="@Url.Content("~/LibraryAdmin/MediaTypes/_add")" class="button" id="addMediaLink" title="@DbRes.T("MediaTypes.Media_Type", "FieldDisplayName") not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
</div>

    <div id="newMediaDialog" title="Add New @DbRes.T("MediaTypes.Media_Type", "FieldDisplayName")"></div>

    <script type="text/javascript">
        $(function () {
            $('#newMediaDialog').dialog({
                open: function () {
                    $(this).closest(".ui-dialog")
                    .find(".ui-dialog-titlebar-close")
                    .removeClass("ui-icon-closethick")
                    .addClass("btn btn-default")
                    .text("X");
                },
                autoOpen: false,
                modal: true,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: [
                    {
                        text: 'Save',
                        "class": 'btn btn-success',
                        click: function () {
                            var addNewFrm = $('#addMediaForm');
                            if (addNewFrm.valid()) {
                                $.ajax({
                                    url: '@Url.Action("_add", "MediaTypes")',
                                    type: 'Post',
                                    data: addNewFrm.serialize(),
                                    async: false,
                                    success: function (data) {
                                        if (data.success) {
                                            $('#MediaID').append(
                                                    $('<option></option>')
                                                        .val(data.newData.MediaID)
                                                        .html(data.newData.Media)
                                                        .prop('selected', true)
                                                );
                                            $('#newMediaDialog').dialog('close');
                                        } else {
                                            alert(data.errMsg);
                                        }
                                    },
                                    error: function () {
                                        alert("Oops, there has been an error.");
                                    }
                                });
                            }
                        }
                    },
                {
                    text: 'Cancel',
                    "class": 'btn btn-default',
                    click: function () {
                        $('#MediaID').val(0);
                        $(this).dialog('close');
                    }
                }
                ]
            });
        });
        $('#addMediaLink').click(function () {
            var createFormUrl = $(this).attr('href');
            $('#newMediaDialog').html('')
            .load(createFormUrl, function () {
                jQuery.validator.unobtrusive.parse('#addMediaForm');
                $('#newMediaDialog').dialog('open');
            });
            return false;
        });

        $('#MediaID').change(function () {
            if (this.value === "-1") {
                var createFormUrl = $('#addMediaLink').attr('href');
                $('#newMediaDialog').html('')
                .load(createFormUrl, function () {
                    //jQuery.validator.unobtrusive.parse('#addMediaForm');
                    $('#newMediaDialog').dialog('open');
                });
            }
            return false;
        });

    </script>
