@model slls.ViewModels.TitleEditViewModel
@using Westwind.Globalization

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectTitle" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-bottom: 5px;">@Model.SelectTitleTip</div>
        <div class="col-md-12" title="@Model.SelectTitleTip">
            @Html.TextBoxFor(x => x.SelectTitle, new { @placeholder = @Model.SelectTitlePlaceHolder, @class = "form-control" })
        </div>
    </div>
}