@using Westwind.Globalization
@model slls.ViewModels.TitleAddViewModel

@Html.LabelFor(model => model.ClassmarkID, new { @class = "control-label col-md-2" })

<div class="col-md-5">
    @Html.DropDownList("ClassmarkID", null, new {@class = "form-control"})
    @Html.ValidationMessageFor(model => model.ClassmarkID, "", new {@class = "text-danger"})
</div>

<div class="col-sm-1 hidden-sm hidden-xs" style="padding-top: 5px; padding-left: 0">
    <a href="@Url.Action("_add", "Classmarks")" class="button" id="addClassmarkLink" title="@DbRes.T("Classmarks.Classmark", "FieldDisplayName") not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
</div>

<div id="newClassmarkDialog" title="Add New @DbRes.T("Classmarks.Classmark", "FieldDisplayName")"></div>

