@using Westwind.Globalization
@model slls.ViewModels.DeleteConfirmationViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="deleteLabel">@Html.DisplayFor(model => model.FunctionText)&nbsp;@Html.DisplayFor(model => model.HeaderText)</h3>
</div>

@using (Html.BeginForm(Model.PostDeleteAction, Model.PostDeleteController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    <!-- Added hidden fields so that these values persist when calling POST Action. Otherwise POST action will have all these properties as null -->
    @Html.HiddenFor(x => x.DeleteEntityId)
    @Html.HiddenFor(x => x.DeleteEntityIdString)
    @Html.HiddenFor(x => x.PostDeleteAction)
    @Html.HiddenFor(x => x.PostDeleteController)
    @Html.HiddenFor(x => x.HeaderText)

    <div class="modal-body" style="padding-top: 5px;">
        <div class="control-group">
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.DisplayFor(model => model.ConfirmationHeaderText) @Html.DisplayFor(model => model.HeaderText)
            </div>

            @if (!Model.DetailsText.IsEmpty())
            {
                <div class="alert" style="padding:5px;padding-left: 15px;"><strong>@Html.Raw(Model.DetailsText)</strong></div>
            }

            @ViewBag.Message
            <div style="padding-left: 15px;">@Model.ConfirmationFooterText</div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="btnDelete" class="btn @Model.ButtonClass" type="submit"><span aria-hidden="true" class="glyphicon @Model.ButtonGlyphicon"></span> @Html.DisplayFor(model => model.ButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")

@*<script type="text/javascript">
        $(function() {
            $('#btnDelete').click(function() {
                $('#stdModal').modal('hide');
            });

            $('form').submit(function(e) {
                e.preventDefault();
                $.post(this.action, $(this).serialize(), function(response) {
                    if (response.error) {
                        alert(response.error);
                    } else {
                        $('#stdModal').modal('hide');
                        //Refresh
                        location.reload();
                        //window.location = window.location.href;
                    }
                }, 'json');
            });
        });
    </script>*@