@using System
@using System.Linq
@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.FinanceSearchingViewModel

<table id="titles" class="table table-condensed table-hover">
    <thead>
    <tr>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Order_Number", "FieldDisplayName").Replace(".",""))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Title", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Supplier", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Requested_By", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Date_Ordered", "FieldDisplayName"))
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <th></th>
            <th></th>
            <th></th>
            <td></td>
        </tr>
    </tfoot>

    <tbody>
    @if (Model.Results.Any())
    { 
    foreach (var item in Model.Results)
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(item.OrderNo))
                {
                    @Html.ActionLink(" ", "Edit", "OrderDetails", new { id = item.OrderID }, new { @class = "modal-link" })
                }
                else
                {
                    @Html.ActionLink(item.OrderNo, "Edit", "OrderDetails", new { id = item.OrderID }, new { @class = "modal-link" })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Title1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequesterUser.FullnameRev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.FiledTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateSortable)
            </td>
            <td class="just-right">
                <a href="@Url.Action("Edit", "OrderDetails", new {id = item.OrderID})" class="btn btn-link" title="Edit @DbRes.T("Orders.Order", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", "OrderDetails", new { id = item.OrderID, view = @Html.CurrentViewName() })" class="btn btn-link modal-link" title="Delete @DbRes.T("Orders.Order", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
               
            </td>
        </tr>
    }
    }
    </tbody>

</table>