@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.FinanceSearchingViewModel

<script type="text/javascript">
    $(document).ready(function() {
        $('#titles').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "order": [0, 'asc'],
            "autoWidth": false,
            "columnDefs": [
                {
                    "orderData": 6,
                    "orderSequence": ["desc", "asc"],
                    "targets": [1]
                },
                {
                    "orderData": 7,
                    "orderSequence": ["asc", "desc"],
                    "targets": [4]
                },
                {
                    "visible": false,
                    "targets": [5, 6, 7]
                },
                {
                    "sortable": false,
                    "width": "10%",
                    "targets": [8]
                }
            ],
            initComplete: function() {
                var api = this.api();
                this.api().columns('.select-filter').every(function() {
                    var column = this;
                    var select = $('<select class="form-control" style="width:100%;"><option value=""></option></select>')
                        .appendTo($(column.footer()))
                        .on('change', function() {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function(d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
    });
</script>

<table id="titles" class="table table-condensed table-hover">
    <thead>
    <tr>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Order_Number", "FieldDisplayName").Replace(".",""))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Title", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Supplier", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Requested_By", "FieldDisplayName"))
        </th>
        <th class="select-filter">
            @Html.DisplayName(DbRes.T("Orders.Date_Ordered", "FieldDisplayName"))
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <td class="filter"></td>
            <th></th>
            <th></th>
            <th></th>
            <td></td>
        </tr>
    </tfoot>

    <tbody>
    @if (Model.Results.Any())
    { 
    foreach (var item in Model.Results)
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(item.OrderNo))
                {
                    @Html.ActionLink(" ", "Edit", "OrderDetails", new { id = item.OrderID }, new { @class = "modal-link" })
                }
                else
                {
                    @Html.ActionLink(item.OrderNo, "Edit", "OrderDetails", new { id = item.OrderID }, new { @class = "modal-link" })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Title1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequesterUser.FullnameRev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.FiledTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateSortable)
            </td>
            <td class="just-right">
                <a href="@Url.Action("Edit", "OrderDetails", new {id = item.OrderID})" class="btn btn-link" title="Edit @DbRes.T("Orders.Order", "FieldDisplayName")"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", "OrderDetails", new { id = item.OrderID, view = @Html.CurrentViewName() })" class="btn btn-link modal-link" title="Delete @DbRes.T("Orders.Order", "FieldDisplayName")"><span class="glyphicon glyphicon-trash"></span></a>
               
            </td>
        </tr>
    }
    }
    </tbody>

</table>
