@model slls.ViewModels.GenericHelpViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="headerLabel"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> @ViewBag.Title</h3>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="alert alert-info">
            @Html.Raw(Model.HelpText)
        </div>
    </div>

    <div class="modal-footer">
        <button id="btnConfirm" class="btn @Model.ConfirmButtonClass" type="button" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true" class="glyphicon @Model.Glyphicon"></span> @Html.DisplayFor(model => model.ConfirmButtonText)</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")
