@model slls.ViewModels.GenericConfirmationViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="headerLabel">@Html.DisplayFor(model => model.HeaderText)</h3>
</div>

@using (Html.BeginForm(Model.PostConfirmAction, Model.PostConfirmController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.ConfirmEntityId)
    @Html.HiddenFor(x => x.PostConfirmAction)
    @Html.HiddenFor(x => x.PostConfirmController)
    @Html.HiddenFor(x => x.HeaderText)
    
    <div class="modal-body">
        <div class="control-group">
            <div class="alert alert-info">@Html.DisplayFor(model => model.DetailsText)</div>
            <p>@Html.DisplayFor(model => model.ConfirmationText)</p>
            @ViewBag.Message
        </div>
    </div>

    <div class="modal-footer">
        <button id="btnConfirm" class="btn @Model.ConfirmButtonClass" type="submit"><span aria-hidden="true" class="glyphicon @Model.Glyphicon"></span> @Html.DisplayFor(model => model.ConfirmButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button class="btn-link" data-dismiss="modal" aria-hidden="true" type="button">@Html.DisplayFor(model => model.CancelButtonText)</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")