@using slls.App_Settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalVariables.SiteName</title>

    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    

    @*Custom (customer) styles ...*@
    <style type="text/css">
        body {
            color: @CssManager.BodyTextColour;
            background-color: @CssManager.BodyBackgroundColour;
            font-size: @CssManager.BodyFontSize;
        }

        .brand-bar {
            background-color: @CssManager.LogoSectionBackgroundColour;
            height: @CssManager.LogoSectionHeight;
        }

        .brand-bar .logo {
            padding: @CssManager.LogoPadding;
            float: @CssManager.LogoPosition;
            width: auto;
            height: auto;
            max-height: @CssManager.LogoHeight;
        }

        .navbar-inverse {
            background-color: @CssManager.MainMenuBackgroundColour;
            border-color: @CssManager.MainMenuBorderColour;
        }

        .navbar-inverse .navbar-nav > li > a { color: @CssManager.MainMenuFontColour; }

        .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover { color: @CssManager.MainMenuHoverFontColour; }

        .navbar-default .navbar-nav > li > a { color: @CssManager.BodyTextColour; }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: @CssManager.AdminMenuHoverFontColour; }

        .dropdown-header {
            color: @CssManager.BodyTextColour;
            border-bottom: 2px solid @CssManager.AdminMenuDropdownHeaderUnderlineColour;
        }

        .modal-header { color: @CssManager.BodyTextColour; }

        .ui-autocomplete > li > a { color: @CssManager.BodyTextColour; }

        .ui-dialog .ui-dialog-title { color: @CssManager.BodyTextColour; }

        .jumbotron {
            color: @CssManager.JumbotronTextColour;
            background-color: @CssManager.JumbotronBackgroundColour;
        }

        a { color: @CssManager.HyperlinkTextColour; }

        a:focus, a:hover { color: @CssManager.HyperlinkHoverColour; }

        .btn-link:focus, .btn-link:hover { color: @CssManager.HyperlinkHoverColour; }
    </style>

    <!-- Local styling stuff -->
    <link rel="stylesheet" type="text/css" media="print" href="~/Content/print.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Customer/Styling/customer.css" />
    
    <script type="text/javascript">
        var dateFormat = "@GlobalVariables.DateFormat";
        var popupTimeout = "@GlobalVariables.PopupTimeout";
        var gaTrackId = '<%=ConfigurationManager.AppSettings["GoogleAnalyticsTrackingId"]%>';

        $(document).ready(function () {
            $(".modal-dialog").draggable({
                handle: ".modal-header"
            });
            $('.modal-dialog').resizable({
                minHeight: 300,
                minWidth: 300
            });
        });

        $(function () {
            $("#dialogSuccess").dialog({
                dialogClass: "no-close",
                modal: true,
                buttons: [
                    {
                        text: 'OK',
                        open: function (event, ui) {
                            setTimeout("$('#dialogSuccess').dialog('close')", popupTimeout);
                        },
                        click: function () {
                            $(this).dialog('close');
                        }
                    }
                ]
            });
        });

        $(function () {
            $("#dialogError").dialog({
                dialogClass: "no-close",
                modal: true,
                buttons: [
                    {
                        text: 'OK',
                        open: function (event, ui) {
                            setTimeout("$('#dialogError').dialog('close')", popupTimeout);
                        },
                        click: function () {
                            $(this).dialog('close');
                        }
                    }
                ]
            });
        });

        $(function () {
            $("#dialogInfo").dialog({
                dialogClass: "no-close",
                modal: true,
                buttons: [
                    {
                        text: 'OK',
                        open: function (event, ui) {
                            setTimeout("$('#dialogInfo').dialog('close')", popupTimeout);
                        },
                        click: function () {
                            $(this).dialog('close');
                        }
                    }
                ]
            });
        });

    </script>

    @*<script src="@Url.Content("~/Scripts/google-analytics.js")" type="text/javascript"></script>*@

</head>
<body>

    <!-- Modal Dialog Content -->
    <div id="smlModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="stdModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="lrgModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog delete">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="AlertDialog" title="Alert!"></div>

    <div class="brand-bar noprint">
        <div class="container">
            <div class="row">
                <a href="@Url.Action("Index", "Home", new {area = ""})" title="Home"><span><img src="@Url.Action("RenderSiteLogo", "Files", new { imageId = CssManager.LogoImageId, area = "" })" alt="Logo" class="logo" /></span></a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("TopMenu", "PartialMenu")
                @Html.Partial("_LoginPartial")
                @Html.Action("_MenuSearchTool", "Home", new { area = "" })
                <div class="clearfix"></div>
            </div>
            @*</div>*@
        </div>
    </div>

    @Html.Action("MainMenu", "PartialMenu")

    <div class="container">
        @*<div class="breadcrumb">@Html.MvcSiteMap().SiteMapPath()</div>*@

        @*Pop-up to provide a success message*@
        @if (TempData["SuccessDialogMsg"] != null)
        {
            <div id="dialogSuccess" title="Success!">
                @TempData["SuccessDialogMsg"]
            </div>
        }@*Pop-up to provide an error message*@
        @if (TempData["ErrorDialogMsg"] != null)
        {
            <div id="dialogError" title="Oops, something went wrong!">
                @TempData["ErrorDialogMsg"]
            </div>
        }@*Pop-up to provide an information message*@
        @if (TempData["InfoDialogMsg"] != null)
        {
            <div id="dialogInfo" title="Info">
                @TempData["InfoDialogMsg"]
            </div>
        }

        @RenderBody()
        @RenderPage("_Footer.cshtml")
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    <script src="~/Scripts/datatables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-select.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/bootstrapextras")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/signalR")

    @RenderSection("scripts", required: false)
</body>
</html>
