@using Westwind.Globalization
@model slls.ViewModels.TickBoxViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">@Html.DisplayFor(model => model.HeaderText)</h3>
</div>

@using (Html.BeginForm(Model.PostSelectAction, Model.PostSelectController, FormMethod.Post, new { @class = "form-horizontal", id = "MultiSelect" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.PostSelectAction)
    @Html.HiddenFor(x => x.PostSelectController)
    @Html.HiddenFor(x => x.HeaderText)
    @Html.HiddenFor(x => x.PostSelectId)
    @Html.HiddenFor(x => x.PostSelectIdString)

    <div class="modal-body">
        @if (!Model.DetailsHeader.IsEmpty())
        {
            <h4 class="text-info">
                @Html.DisplayFor(model => model.DetailsHeader)
            </h4>
        }
        <div class="form-group">
            <div class=" col-md-12">
                <ul class="list-unstyled">
                    @foreach (var item in Model.AvailableItems)
                    {
                        <li>
                            <input type="checkbox" name="SelectedItem" value="@item.Value" checked="@item.Selected" />
                            @Html.Label(item.Value, new { @class = "control-label" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @Html.DisplayFor(model => model.OkButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")
