@using Westwind.Globalization
@model slls.ViewModels.ListBoxViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">@Html.DisplayFor(model => model.HeaderText)</h3>
</div>

@using (Html.BeginForm(Model.PostSelectAction, Model.PostSelectController, FormMethod.Post, new { @class = "form-horizontal", id="MultiSelect" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.PostSelectAction)
    @Html.HiddenFor(x => x.PostSelectController)
    @Html.HiddenFor(x => x.HeaderText)
    @Html.HiddenFor(x => x.PostSelectId)
    @Html.HiddenFor(x => x.PostSelectIdString)
    
    <div class="modal-body">
        @if(!Model.DetailsHeader.IsEmpty())
        {
            <h4 class="text-info">
                @Html.DisplayFor(model => model.DetailsHeader)
            </h4>
        }
        <div class="alert alert-info">
            <p>@Html.DisplayFor(model => model.DetailsText).</p>
            <p>
                You may select multiple items in the list by clicking on the required items whilst holding down the CTRL key.
            </p>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label(Model.SelectLabel, htmlAttributes: new {@class = "control-label"}):
                @Html.ListBoxFor(x => x.SelectedItems, Model.AvailableItems, new { size = 15, @class = "form-control" })
            </div>
        </div>
        @if (ViewBag.AvailableItemsTypes != null)
        {
            <div class="form-group">
                <div class="col-md-4">
                    @Html.Label("Sort list by:")
                    @Html.DropDownListFor(model => model.AvailableItemsType, new SelectList(ViewBag.AvailableItemsTypes, "Key", "Value"), new { @class = "form-control" })
                </div>
            </div>
        }
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> @Html.DisplayFor(model => model.OkButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#AvailableItemsType").change(function () {
            var select = $("#SelectedItems");
            select.empty();

            var selectedListType = { listType: $("#AvailableItemsType").val() };

            $.ajax({
                url: '@Url.Action("GetListRows", @Model.PostSelectController)',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(selectedListType),
                success: function (data) {
                    if (data.success) {
                        $.each(data.AvailableItems, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        }
                        );
                    } else {
                        alert('Opps!' + data.success);
                    }
                },
                async: false
            });
        });
    });

    $(function () {
        $('#SelectedItems').on('dblclick', function () {
            $("#MultiSelect").submit();
        });
    });
</Script>