@using Westwind.Globalization
@model slls.ViewModels.Select2PopupViewModel

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm(Model.PostSelectAction, Model.PostSelectController, FormMethod.Post, new { @class = "form-horizontal", id="frmSelect" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.PostSelectAction)
    @Html.HiddenFor(x => x.PostSelectController)
    @Html.HiddenFor(x => x.PostSelectId)
    <div class="modal-body">
        @if(!Model.DetailsHeader.IsEmpty())
        {
            <h4 class="text-info">
                @Html.DisplayFor(model => model.DetailsHeader)
            </h4>
        }
        <div class="alert alert-info">
            <span class="help-block"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> @Html.DisplayFor(model => model.DetailsText).</span>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label(Model.SelectLabel1, htmlAttributes: new {@class = "control-label"})
                @Html.DropDownListFor(x => x.SelectedItem1, Model.AvailableItems1, Model.SelectText1, new {@class = "form-control selectpicker"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label(Model.SelectLabel2, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => x.SelectedItem2, Model.AvailableItems2, Model.SelectText2, new { @class = "form-control selectpicker" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @Html.DisplayFor(model => model.OkButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")
@Scripts.Render("~/bundles/selectPicker")
    <script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });

        $(function() {
            $('#SelectedItem').on('dblclick', function() {
                $("#frmSelect").submit();
            });
        });
    </Script>