@using Westwind.Globalization
@model slls.ViewModels.FinanceSearchingViewModel

@using (Html.BeginForm("PostShowAllOrderEntityFilter", "Searching", FormMethod.Post))
{
    @(Model.BudgetCodesFilter.Count > 60 ? Html.Partial("_ModalHeaderRepeatFooter") : Html.Partial("_ModalDefaultHeader"))

    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(x => x.Filters)
    @Html.HiddenFor(x => x.LibraryStaff)
    @Html.HiddenFor(x => x.AllOrders)
    @Html.HiddenFor(x => x.SearchString)
    @Html.HiddenFor(x => x.SearchField)
    @Html.HiddenFor(x => x.OrderIDs)
    
    <div style="display: none;">
        @Html.EditorFor(model => model.OrderCategoriesFilter)
    </div>

    <div style="display: none;">
        @Html.EditorFor(model => model.AccountYearsFilter)
    </div>

    <div style="display: none;">
        @Html.EditorFor(model => model.RequestersFilter)
    </div>

    <div style="display: none;">
        @Html.EditorFor(model => model.SuppliersFilter)
    </div>

    <div class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <div class=" col-md-12">
                    <ul class="three-column-list">
                        @Html.EditorFor(model => model.BudgetCodesFilter)
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btnSave" value="Save" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @DbRes.T("Buttons.Ok", "Terminology")</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            $('#stdModal').modal('hide');
            $('#lrgModal').modal('hide');
        });
    });
</script>