@model slls.ViewModels.FinanceSearchingViewModel
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("FinanceSearchResults", "Searching", FormMethod.Post, new { id = "searchForm", defaultbutton = "btnSubmit" }))
{
    <div class="well">
        <div class="row">
            <div class=" col-md-12">
                <div class="form-group form-inline" style="margin-bottom: 0;">
                    @Html.LabelFor(model => model.SearchString):&nbsp;
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Find ...", style = "width: 50%", id = "MainSearchString" } })
                    @Html.DropDownList("SearchField", null, new { @class = "form-control", style = "width: 20%" })
                    <button type="submit" id="btnSubmit" value="Find" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-search"></span> Find</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @if (Model.Results != null)
            {
                <div class="panel">
                    <div class="panel-heading" style="padding: 0 10px;">
                        <span style="font-size: 18px;" >Refine By</span>
                        <span class="pull-right"><a href="@Url.Action("ClearAllFinanceFilters", "Searching")" class="btn btn-link" title="Clear All Filters" ><span aria-hidden="true" class="glyphicon glyphicon-minus-sign"></span> Clear All</a></span>
                    </div>
                    <div class="panel-body">
                        @if (Model.AccountYearsFilter != null)
                        {
                            @Html.Partial("_AdminNarrowByAccountYear")
                        }
                        @if (Model.BudgetCodesFilter != null)
                        {
                            @Html.Partial("_AdminNarrowByBudgetCode")
                        }
                        @if (Model.OrderCategoriesFilter != null)
                        {
                            @Html.Partial("_AdminNarrowByOrderCategory")
                        }
                        @if (Model.SuppliersFilter != null)
                        {
                            @Html.Partial("_AdminNarrowBySupplier")
                        }
                        @if (Model.RequestersFilter != null)
                        {
                            @Html.Partial("_AdminNarrowByRequester")
                        }
                    </div>
                </div>
            }
        </div>
        <div class="col-md-9" style="border-left: 1px solid #eee;">
            @if (Model.Results != null)
            {
                @Html.Partial("_Financeresults")
            }
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#MainSearchString').focus();

            $(document).ready(function () {
                $('#titles').DataTable({
                    "dom": sDom,
                    "pagingType": sPagingType,
                    "pageLength": sPageLength,
                    "lengthMenu": sLengthMenu,
                    "language": {
                        "url": "/DataTables/lang.txt"
                    },
                    "order": [0, 'asc'],
                    "autoWidth": false,
                    "columnDefs": [
                        {
                            "orderData": 6,
                            "orderSequence": ["desc", "asc"],
                            "targets": [1]
                        },
                        {
                            "orderData": 7,
                            "orderSequence": ["asc", "desc"],
                            "targets": [4]
                        },
                        {
                            "visible": false,
                            "targets": [5, 6, 7]
                        },
                        {
                            "sortable": false,
                            "width": "10%",
                            "targets": [8]
                        }
                    ],
                    initComplete: function () {
                        var api = this.api();
                        this.api().columns('.select-filter').every(function () {
                            var column = this;
                            var select = $('<select class="form-control" style="width:100%;"><option value=""></option></select>')
                                .appendTo($(column.footer()))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>');
                            });
                        });
                    }
                });
            });
        });
    </Script>
}