@using Westwind.Globalization
@model slls.ViewModels.NewEmailViewModel

@Html.Partial("_ModalAddHeader")

@using (Html.BeginForm("SendEmail", "Messaging", new { area = "" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => Model.IsModal)
    @Html.HiddenFor(x => Model.InternalMsg)

    <div class="modal-body">

        <div class="form-horizontal">

            @Html.Partial("_NewEmailPartial")

        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btnSend" value="Send" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-send"></span> Send</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")

