@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.Circulation>

<table id="circulationlist" class="table table-condensed table-bordered-outeronly table-hover" style="width: 100%;">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipientUser.Fullname)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientUser.Fullname)
            </td>
            <td>
                @Html.Raw(item.SortOrder)
            </td>
            <td class="just-right">
                <a href="@Url.Action("_MoveRecipientUpList", new {id = item.CirculationID})" class="btn btn-link" title="Move @item.RecipientUser.Firstname up List"><span aria-hidden="true" class="glyphicon glyphicon-arrow-up"></span></a>
                <a href="@Url.Action("_MoveRecipientDownList", new {id = item.CirculationID})" class="btn btn-link" title="Move @item.RecipientUser.Firstname down List"><span aria-hidden="true" class="glyphicon glyphicon-arrow-down"></span></a>
                <a href="@Url.Action("RemoveRecipient", new {id = item.CirculationID})" class="btn btn-link modal-link" title="Remove @item.RecipientUser.Firstname from List"><span aria-hidden="true" class="glyphicon glyphicon-minus-sign"></span></a>
            </td>
        </tr>
    }
    </tbody>
</table>

