@using Westwind.Globalization
@model slls.ViewModels.SelectPopupViewModel

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.DisplayFor(model => model.HeaderText)</h4>
</div>*@
@Html.Partial("_ModalEditHeader")

@using (Html.BeginForm(Model.PostSelectAction, Model.PostSelectController, FormMethod.Post, new { @class = "form-horizontal", id = "frmSelect" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.PostSelectAction)
    @Html.HiddenFor(x => x.PostSelectController)
    @Html.HiddenFor(x => x.HeaderText)
    @Html.HiddenFor(x => x.PostSelectId)
    @Html.HiddenFor(x => x.PostSelectIdString)

    <div class="modal-body">
        @if (!Model.DetailsHeader.IsEmpty())
        {
            <h4 class="text-info">
                @Html.DisplayFor(model => model.DetailsHeader)
            </h4>
        }

        <div class="alert alert-info" role="alert">
            <p><strong>Clone an existing recipient</strong>
            </p>
            Cloning an exiting @DbRes.T("Circulation.Recipient", "FieldDisplayName") will add all of the @DbRes.T("Circulation.Circulated_Items", "FieldDisplayName") that the selected @DbRes.T("Circulation.Recipient", "FieldDisplayName") receives to the current @DbRes.T("Circulation.Recipient", "FieldDisplayName")'s list. Choose whether to append the @DbRes.T("Circulation.Circulated_Items", "FieldDisplayName") to the bottom of the current @DbRes.T("Circulation.Recipient", "FieldDisplayName")'s list or remove all items from the current list and replace with the cloned list (overwrite).
        </div>

        <p class="help-block">
            1. Select the @DbRes.T("Circulation.Recipient", "FieldDisplayName") you wish to clone:
        </p>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label(Model.SelectLabel, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => x.SelectedItemString, Model.AvailableItems, Model.SelectText, new { @class = "form-control" })
            </div>
        </div>

        <p class="help-block">
            2. Choose how to clone the selected list:
        </p>

        <div class="form-group">
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.SelectedOption, Model.AdditionalOptions, new { @class = "form-control" })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @Html.DisplayFor(model => model.OkButtonText)</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#SelectedItem').on('dblclick', function () {
            $("#frmSelect").submit();
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $.post(this.action, $(this).serialize(), function (response) {
                if (response.error) {
                    alert(response.error);
                }
                else {
                    $('#stdModal').modal('hide');
                    $('#lrgModal').modal('hide');
                    //Refresh
                    location.reload();
                }
            }, 'json');
        });
    });
</script>