@using Westwind.Globalization
@model slls.Models.SupplierAddress

<h2>@ViewBag.Title</h2>
<h3><a href="@Url.Action("Edit", "Suppliers", new {id = @Model.SupplierID}, null)" title="Back to supplier">@Model.Supplier.SupplierName</a></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AddressID)
        @Html.HiddenFor(model => model.SupplierID)

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Division)
                @Html.EditorFor(model => model.Division, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Address1)
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Address2)
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Town_City)
                @Html.EditorFor(model => model.Town_City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Town_City, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.County)
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Country)
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Postcode)
                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.DX)
                @Html.EditorFor(model => model.DX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DX, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.MainTel)
                @Html.EditorFor(model => model.MainTel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainTel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Phone1)
                @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.MainFax)
                @Html.EditorFor(model => model.MainFax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainFax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.URL)
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.LabelFor(model => model.WebPassword)
                @Html.EditorFor(model => model.WebPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebPassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Notes)
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label(DbRes.T("Suppliers.Contacts", "FieldDisplayName"))<span class="pull-right">
                    <a href="@Url.Action("create", "SupplierPeople", new { supplierId = Model.SupplierID, addressId = Model.AddressID })" class="btn-link" data-toggle="modal" data-target="#stdModal" title="Add new">Add New @DbRes.T("SupplierPeople.Contact", "FieldDisplayName")&nbsp;<span class="glyphicon glyphicon-plus-sign"></span></a>
                </span>
                @if (ViewBag.PeopleCount > 0)
                {
                    @Html.Action("ListByAddress", "SupplierPeople", new { id = Model.AddressID })
                }
                else
                {
                    <span class="form-control">This supplier does not have any @DbRes.T("Suppliers.Contacts", "FieldDisplayName").</span>
                }
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" id="btnSave" value="Save" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> @DbRes.T("Buttons.Confirm_Add", "Terminology")</button>
            <a href="@Url.Action("Delete", new {id = Model.AddressID})" class="btn btn-danger modal-link" title="Delete"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" onclick="window.history.back();">@DbRes.T("Buttons.Cancel", "Terminology")</button>
        </div>
    </div>
}