@using System
@model System.Collections.Generic.IEnumerable<slls.Models.SupplierAddress>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        @* <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(item.Division))
                {
                    @Html.ActionLink(" ", "Edit", "SupplierAddresses", new { id = item.AddressID }, new { @class = "btn-link" })
                }
                else
                {
                    @Html.ActionLink(item.Division, "Edit", "SupplierAddresses", new { id = item.AddressID }, new { @class = "btn-link" })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>*@

            <td class="just-right">
                <a href="@Url.Action("Edit", new {id = item.AddressID})" class="btn btn-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("Delete", new { id = item.AddressID })" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }

</table>
