@using Westwind.Globalization
@model slls.ViewModels.NotificationIndexViewModel

<script type="text/javascript">
    $(document)
        .ready(function () {
            $('#notifications')
                .DataTable({
                    "dom": sDom,
                    "pagingType": sPagingType,
                    "pageLength": sPageLength,
                    "lengthMenu": sLengthMenu,
                    "language": {
                        "url": "/DataTables/lang.txt"
                    },
                    "order": [[2, 'asc']],
                    "columnDefs": [
                        {
                            "visible": false,
                            "searchable": false,
                            "sortable": false,
                            "targets": [5]
                        },
                        {
                            "width": "10%",
                            "searchable": false,
                            "sortable": false,
                            "targets": [6]
                        },
                        {
                            "orderData": [5],
                            "targets": [4]
                        }
                    ]
                });
        });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "selectMonthYear" }))
{
    <div class="alert alert-info">
        <div class="help-block"><span class="glyphicon glyphicon-info-sign"></span> @DbRes.T("Notifications","EntityType") can be displayed on both the OPAC 'Home' page and the Admin 'Dashboard', if enabled. @DbRes.T("Notifications", "EntityType") are simply announcements or snippets of information that you want your users to see. @DbRes.T("Notifications", "EntityType") can include HTML.
        </div>
        <div class="help-block"><strong>Tip: </strong> Use the drop-down below to filter the list of @DbRes.T("Notifications", "EntityType").ToLower() to just the @DbRes.T("Notifications.Scope", "FieldDisplayName").ToLower() you are interested in.</div>
        <div class="row">
            <div class="col-md-12">
                @Html.DropDownList("scope", new SelectList(ViewBag.Scope, "Key", "Value"),"All", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </div>
    </div>
}

<p>
    <a href="@Url.Action("Create", "Notifications", new { scope = Model.Scope })" title="Add new @DbRes.T("Notifications.Notification", "FieldDisplayName")" class="btn btn-primary" data-toggle="modal" data-target="#lrgModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="notifications" class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().Scope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().Visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notifications.FirstOrDefault().ExpireDate)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Notifications)
        {
            <tr>
                <td>
                    @if (String.IsNullOrEmpty(item.Headline))
                    {
                        <a href="@Url.Action("Edit","Notifications", new { id = item.NotificationID })" title="Edit" data-toggle="modal" data-target="#lrgModal"></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit","Notifications", new { id = item.NotificationID })" title="Edit" data-toggle="modal" data-target="#lrgModal">@item.Headline</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScopeFull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
                <td>
                    @Html.Raw(item.ExpireDateSortable)
                </td>
                <td class="just-right">
                    <a href="@Url.Action("MoveNotificationUpList", new { id = item.NotificationID })" class="btn btn-link" title="Move @DbRes.T("Notifications.Notification", "FieldDisplayName") up the list"><span class="glyphicon glyphicon-arrow-up"></span></a>
                    <a href="@Url.Action("MoveNotificationDownList", new { id = item.NotificationID })" class="btn btn-link" title="Move @DbRes.T("Notifications.Notification", "FieldDisplayName") down the list"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="@Url.Action("Delete", new {id = item.NotificationID})" class="btn btn-link modal-link" title="Delete this @DbRes.T("Notifications.Notification", "FieldDisplayName")"><span class=" glyphicon glyphicon-trash"></span></a>
                    <a href="@Url.Action("Edit", new {id = item.NotificationID})" class="btn btn-link" title="Edit this @DbRes.T("Notifications.Notification", "FieldDisplayName")" data-toggle="modal" data-target="#lrgModal"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
