@using Westwind.Globalization
@model slls.ViewModels.TitleAdditionalFieldDefEdit

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm(Html.BeginForm("EditLongTextLabel", "TitleAdditionalFieldDefs", FormMethod.Post)))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FieldId)

            <div class="form-group">
                @Html.Label("Text Label", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FieldName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FieldName, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("Show on OPAC?", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ShowOnOpac)
                        @Html.ValidationMessageFor(model => model.ShowOnOpac, "", new {@class = "text-danger"})
                        <span class="help-inline">Display texts with this label on the OPAC</span>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_ModalEditFooter")
}

@Scripts.Render("~/bundles/modalAddEditHeader")
