@using Westwind.Globalization
@model slls.ViewModels.MergeAuthorityListViewModel

@Html.Partial("_HeaderCancel")

@using (Html.BeginForm("PostUpdateMergeAuthorityList", "AdminTools", FormMethod.Post, new { @class = "form-horizontal", id = "mergeAuthValues", name = "mergeAuthValues" }))
{
    @Html.ValidationSummary()

    <div class="alert alert-info">
        <span class="help-block"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> Use this tool to perform a global move or a merger of authority list values.</span>
        <span class="help-block">To <strong>move</strong> all associated items from one authority list value to another, simply select the value to move from the first list, and then select or enter the existing or new value to accept the moved items. (E.g. move all items from location a to existing location b, or to new location c).</span>
        <span class="help-block">To <strong>merge</strong> two or more authority list values, simply select the values to merge from the first list (hold the Ctrl button down to select more than value) and then select the existing or new value to accept the merged items. (E.g. merge all items from locations a, b and c into existing location d, or into new location e).</span>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.Label("1: Select Authority List to edit", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(x => x.AuthorityList, new SelectList(ViewBag.AuthorityLists, "Key", "Value"), "Select an Authority List", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AuthorityList, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.Label("2: Select current values to move/merge - choose one or more values from the list", htmlAttributes: new { @class = "control-label" })
            @Html.ListBoxFor(x => x.SelectedIds, Model.AvailableItems, new { size = 15, @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SelectedIds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.Label("3a: Select a current value to accept the move/merger - choose just one value from the list", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(x => x.NewId, Model.AvailableItems, new { @class = "form-control" })
        </div>
    </div>
    <strong> --- Or ---</strong>
    <div class="form-group">
        <div class="col-md-12">
            @Html.Label("3b: Enter a new value to accept the move/merger", htmlAttributes: new {@class = "control-label"})
            @Html.TextBoxFor(x => x.NewValue, new {@class = "form-control"})
            <span id="warning-msg" class="text-danger" style="display: none;">Please select an existing value, or enter a new value, to accept the move/merger.</span>
        </div>
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Continue</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

<div id="confirmDialog" title="Confirm Update/Merge Authority List Values">
    <p><span aria-hidden="true" class="glyphicon glyphicon-alert"></span> You are about to move or merge the following values. Are you sure you want to continue?</p>
    <p>
        <strong>Affected Authority List: </strong><br/>
        <span id="confirmAuthorityList"></span>
    </p>
    <p>
        <strong>Selected values to move/merge: </strong><br/>
        <span id="confirmSelectedValues"></span>
    </p>
    <p>
        <strong>Existing or new value to accept moved/merged data: </strong><br/>
        <span id="confirmNewValue"></span>
    </p>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function() {

            $('#confirmDialog').dialog({
                dialogClass: "no-close",
                autoOpen: false,
                width: 700,
                modal: true,
                resizable: false,
                buttons: [
                    {
                        text: 'Continue',
                        "class": 'btn btn-success',
                        click: function() {
                            document.mergeAuthValues.submit();
                        }
                    },
                    {
                        text: 'Cancel',
                        "class": 'btn btn-default',
                        click: function() {
                            $(this).dialog("close");
                        }
                    }
                ]
            });

            $('#mergeAuthValues').submit(function(e) {
                e.preventDefault();

                if ($(this).valid()) {
                    var field;
                    var confirmDiv;
                    $("#warning-msg").hide();

                    //Check that an existing or new value has been specified to accept the move/merger ...
                    if ($('#NewValue').val() == '' && $("#NewId option:selected").index() == 0) {
                        $("#warning-msg").show();
                        return false;
                    }

                    //Show selected Authority list ...
                    field = $('#AuthorityList');
                    confirmDiv = $('#confirmAuthorityList');
                    confirmDiv.parent().show();
                    confirmDiv.html(field.val());

                    //Show selected values to move/merge ...
                    confirmDiv = $('#confirmSelectedValues');
                    var selectedVal = [];
                    $('#SelectedIds :selected').each(function(i, selected) {
                        selectedVal[i] = $(selected).text() + '; ';
                    });
                    confirmDiv.parent().show();
                    confirmDiv.html(selectedVal);

                    //Show selected value or new value to accept move/merger ...
                    confirmDiv = $('#confirmNewValue');
                    field = $('#NewValue');
                    if (field.val() == '') {
                        confirmDiv.html($('#NewId option:selected').text());
                    } else {
                        confirmDiv.html(field.val() + " (New value)");
                    }
                    confirmDiv.parent().show();

                    $('#confirmDialog').dialog("open");
                }

                return false;
            });

            $("#AuthorityList").change(function() {
                var list1 = $("#SelectedIds");
                var select1 = $("#NewId");
                list1.empty();
                select1.empty();

                var authList = { AuthList: $("#AuthorityList").val() };

                $.ajax({
                    url: '@Url.Action("GetAuthorityValues", "AdminTools")',
                    type: 'Post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(authList),
                    success: function(data) {
                        if (data.success) {
                            select1.append($('<option/>', { value: "0", text: "Select a value to accept move/merger" }));
                            $.each(data.AuthorityListData, function(index, itemData) {
                                    list1.append($('<option/>', { value: itemData.Value, text: itemData.Text }));
                                    select1.append($('<option/>', { value: itemData.Value, text: itemData.Text }));
                                }
                            );
                        } else {
                            alert('invalid ID' + data.success);
                        }
                    },
                    async: false
                });
            });
        });

        $(function () {
            $('#SelectedItem').on('dblclick', function () {
                $("#frmSelect").submit();
            });
        });

    </script>
}