@using System.Collections.Generic
@using Westwind.Globalization
@model slls.ViewModels.CopyDetailsEditViewModel

@using (Html.BeginForm("PostEdit", "Copies", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CopyId)
        @Html.HiddenFor(model => model.TitleId)
        @Html.HiddenFor(model => model.CopyNumber)
        @Html.HiddenFor(model => model.Holdings)
        @Html.HiddenFor(model => model.CirculationMsgId)
        @Html.HiddenFor(model => model.Commenced)
        @Html.HiddenFor(model => model.AcquisitionsNo)
        @Html.HiddenFor(model => model.LocationId)
        @Html.HiddenFor(model => model.StatusId)
        @Html.HiddenFor(model => model.AcquisitionsList)
        @Html.HiddenFor(model => model.PrintLabel)
        @Html.HiddenFor(model => model.Bind)
        @Html.HiddenFor(model => model.Notes)
        @Html.HiddenFor(model => model.Circulated)
        @Html.HiddenFor(model => model.AddedToAcquisitions)

        <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Enter cancellation details for serial subscriptions and standing orders that have been cancelled. Each cancellation is for a specific copy. Run the 'Savings from Cancellations' report to total your savings for the assigned account year.</div>
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Cancellation)
                @Html.EditorFor(model => model.Cancellation, new { @class = "form-control", id = "dateCancelled", placeholder = "" })
                @Html.ValidationMessageFor(model => model.Cancellation, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.Label(DbRes.T("Copies.Cancelled_By","FieldDisplayName"))
                @Html.DropDownList("CancelledByUser", (IEnumerable<SelectListItem>)ViewData["CancelledBy"], string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CancelledByUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @Html.Label(DbRes.T("Copies.Cancelled_Account_Year"))
                @Html.DropDownList("AccountYearID", (IEnumerable<SelectListItem>) ViewData["CancelledYear"], string.Empty, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.AccountYearId, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Saving)
                @Html.EditorFor(model => model.Saving, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Saving, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-footer">
            @if (ViewBag.RecordCount > 1)
            {
                <span class="pull-left">@Html.Partial("_PaginateDetails", Model)</span>
            }
            <span class="pull-left">
                <a href="@Url.Action("Delete", new {id = Model.CopyId})" class="btn btn-danger modal-link" title="Delete Copy"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Copy</a>
            </span>
            <button type="submit" value="Save" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Save Cancellations</button>
            @*<a href="@Url.Action("Delete", new {id = Model.CopyId})" class="btn btn-default modal-link" title="Delete Copy"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Copy</a>*@
            &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
        </div>

    </div>
}

