@using Westwind.Globalization
@model slls.Models.Copy

<div class="form-horizontal">
    <br />
    
    <div class="row">
        <div class="col-md-7">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="pull-right">
                            <a href="@Url.Action("Create", "PartsReceived", new {id = Model.CopyID})" class="btn btn-success modal-link" style="margin-bottom: 5px;" title="Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-check"></span> Check-In New @DbRes.T("CheckIn.Part", "FieldDisplayName")</a>
                            <a href="@Url.Action("PrintCirculationSlip", "Circulation", new {id = Model.CopyID})" class="btn btn-primary" style="margin-bottom: 5px;" target="_blank" title="Print @DbRes.T("Circulation.Circulation_Slip", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-print"></span> Print @DbRes.T("Circulation.Circulation_Slip", "FieldDisplayName")</a>
                        </span>
                        <h4>@DbRes.T("CheckIn.Parts_Received", "FieldDisplayName") (Copy: @Model.CopyNumber)</h4>
                    </span>
                </div>
                <div class="panel-body">
                    @Html.Action("_PartsReceivedSubForm", "PartsReceived", new {id = Model.CopyID})
                </div>
            </div>
        </div>

        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="pull-right">
                            <a href="@Url.Action("EditHoldings", "Copies", new { id = Model.CopyID })" class="btn btn-primary modal-link" style="margin-bottom: 5px;" title="Add more @DbRes.T("Copies.Holdings", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit</a>
                        </span>
                        <h4>@DbRes.T("Copies.Holdings", "FieldDisplayName") (Copy: @Model.CopyNumber)</h4>
                    </span>
                </div>
                <div class="panel-body">
                    @Html.TextAreaFor(model => model.Holdings, new { rows = "", cols = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Holdings, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        <span class="pull-right">
                            <a href="@Url.Action("AddRecipient", "Circulation", new {id = Model.CopyID})" class="btn btn-primary modal-link" style="margin-bottom: 5px;" title="Add more @DbRes.T("Circulation.Recipients", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add</a>
                            <a href="@Url.Action("CirculationList", "Circulation", new {copy = Model.CopyID})" class="btn btn-primary" style="margin-bottom: 5px;" title="Edit @DbRes.T("Circulation.Circulation_List", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span> Edit</a>
                        </span>
                        <h4>@DbRes.T("Circulation.Circulation_List", "FieldDisplayName") (Copy: @Model.CopyNumber)</h4>
                    </span>
                </div>
                <div class="panel-body">
                    @Html.Action("_CirculationListSubForm", "Circulation", new {id = Model.CopyID})
                </div>
            </div>
        </div>

    </div>
</div>
