@using Westwind.Globalization
@model slls.ViewModels.CopiesAddViewModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/DatePickerReady.js"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

@if (Model.Step > 1)
{
    <div class="alert alert-success">
        <strong><span class="glyphicon glyphicon-ok"></span> @DbRes.T("Titles.Title", "FieldDisplayName") added successfully!</strong>
        &nbsp;&nbsp;Now add copy details for your new @DbRes.T("Titles.Title", "FieldDisplayName"):
    </div>
}

@using (Html.BeginForm("PostCreate", "Copies", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("TitleID", Model.TitleID)
        @Html.HiddenFor(model => model.Step)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@Html.DisplayFor(model => model.Title)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.Label(DbRes.T("Copies.Copy_Number", "FieldDisplayName"), "Copy No.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.CopyNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CopyNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(DbRes.T("Locations.Location", "FieldDisplayName"), "Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationID", null, htmlAttributes: new { @class = "form-control" })
                <span class="help-inline">This is the location where the item is normally found. (Optional)</span>
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Partial("_selectStatusType")
        </div>

        <div class="form-group">
            @Html.Label("Display on " + DbRes.T("Titles.New_Titles", "FieldDisplayName") + " List?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AcquisitionsList)
                    <span class="help-inline">Display this item on the @DbRes.T("NewTitlesList", "EntityType")</span>
                    @Html.ValidationMessageFor(model => model.AcquisitionsList, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label(DbRes.T("Copies.Notes", "FieldDisplayName"), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" value="Add" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Save & Continue ></button>
            &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
        </div>
    </div>
}


