@model System.Collections.Generic.IEnumerable<slls.Models.Copy>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="well well-default">
        <div class="form-group">
            @Html.DropDownList("ListTitle", null, new { @class = "form-control selectpicker", onchange = "this.form.submit();" })
        </div>
    </div>
}

<div id="TitlesTable">
    @Html.Partial("_IndexNoTitle", Model)
</div>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/Copies/_IndexNoTitle.js")" type="text/javascript"></script>

@Scripts.Render("~/bundles/selectPicker")
    <script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>
}