@using System.Collections.Generic
@using VortexSoft.Bootstrap
@using Westwind.Globalization
@model slls.ViewModels.CopyDetailsEditViewModel

<script src="~/Scripts/DatePickerReady.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

@{
    ViewBag.VolumesBadge = "";
    ViewBag.LoansBadge = "";
}

@if (ViewBag.VolumesCount > 0)
{
    ViewBag.VolumesBadge = " <span class='badge'>" + ViewBag.VolumesCount + "</span>";
}

@if (ViewBag.LoansCount > 0)
{
    ViewBag.LoansBadge = " <span class='badge'>" + ViewBag.LoansCount + "</span>";
}

@if (ViewBag.PartsCount > 0)
{
    ViewBag.PartsBadge = " <span class='badge'>" + ViewBag.PartsCount + "</span>";
}

<div>
    @if (ViewBag.RecordCount > 1)
    {
        <span class="pull-right">@Html.Partial("_PaginateDetails", Model)</span>
    }

    <h2>@ViewBag.Title</h2>

    <div class="alert alert-info">

        @using (Html.BeginForm("Edit", "Copies", FormMethod.Get))
        {
            <div class="row" style="margin-right: 0">
                <div class="col-md-10">
                    @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewData["CopyId"], new { onchange = "window.location.href = this.options[this.selectedIndex].value;", @class = "form-control" })
                </div>
                <span class="pull-right"><a href="@Url.Action("Add", "Copies", new {id = @Model.TitleId, returnAction = "Edit", returnController = "Copies"})" title="Add new @DbRes.T("Copies.Copy", "FieldDisplayName")" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("Copies.Copy", "FieldDisplayName")</a></span>
            </div>
        }
    </div>
</div>



@using (var tabs = Html.Bootstrap().Begin(new Tabs()))
{
    tabs.Tab(DbRes.T("Copies.Copy", "FieldDisplayName") + " Details", "tab1");
    tabs.Tab(DbRes.T("CopyItems", "EntityType") + ViewBag.VolumesBadge, "tab2");
    if (Model.IsSerialsAdmin)
    {
        tabs.Tab(DbRes.T("Holdings", "EntityType") + ViewBag.PartsBadge, "tab3");
    }
    if (Model.IsSerialsAdmin)
    {
        tabs.Tab(DbRes.T("Cancellations", "EntityType"), "tab4");
    }
    if (Model.IsLoansAdmin)
    {
        tabs.Tab(DbRes.T("Loans", "EntityType") + ViewBag.LoansBadge, "tab5");
    }

    using (tabs.BeginPanel())
    {
        <br/>
        <div>
            @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
        </div>
        <div>
            <span class="form-control"><a href="@Url.Action("Edit", "Titles", new {id = @Model.TitleId}, null)" title="View/Edit Title">@Model.Title</a></span>
        </div>
        <div id="CopyDetails">
            @Html.Partial("_CopyDetails", Model)
        </div>
    }
    using (tabs.BeginPanel())
    {
        <br/>
        <div>
            @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
        </div>
        <div>
            <span class="form-control"><a href="@Url.Action("Edit", "Titles", new {id = @Model.TitleId}, null)" title="View/Edit Title">@Model.Title</a></span>
        </div>
        <br />
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Create a @DbRes.T("CopyItems.Copy_Item", "FieldDisplayName") for each individual volume if it is a multi-volume work.</div>
                    <p>
                        <a href="@Url.Action("Add", "Volumes", new {id = Model.CopyId})" class="btn btn-primary" title="Add new"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("CopyItems.Copy_Item", "FieldDisplayName")</a>
                    </p>
                    @Html.Action("_ThumbnailDetails", "Volumes", new { id = Model.CopyId })
                    <div class="form-footer">
                        @if (ViewBag.RecordCount > 1)
                        {
                            <span class="pull-left" style="padding-right: 15px;">@Html.Partial("_PaginateDetails", Model)</span>
                        }
                        <a href="@Url.Action("Delete", new {id = Model.CopyId})" class="btn btn-danger modal-link" title="Delete Copy"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Copy</a>
                        &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
                    </div>
                </div>
            </div>
        </div>
    }

    if (Model.IsSerialsAdmin)
    {
        using (tabs.BeginPanel())
        {
            <br />
            <div>
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
            </div>
            <div>
                <span class="form-control"><a href="@Url.Action("Edit", "Titles", new {id = @Model.TitleId}, null)" title="View/Edit Title">@Model.Title</a></span>
            </div>
            <div id="PartsReceived">
                @Html.Action("_Holdings", "Copies", new {id = Model.CopyId})
            </div>
            <div class="form-footer">
                @if (ViewBag.RecordCount > 1)
                {
                    <span class="pull-left" style="padding-right: 15px;">@Html.Partial("_PaginateDetails", Model)</span>
                }
                <a href="@Url.Action("Delete", new {id = Model.CopyId})" class="btn btn-danger modal-link" title="Delete Copy"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Copy</a>
                &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
            </div>
        }
    }

    if (Model.IsSerialsAdmin)
    {
        using (tabs.BeginPanel())
        {
            <br />
            <div>
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
            </div>
            <div>
                <span class="form-control"><a href="@Url.Action("Edit", "Titles", new {id = @Model.TitleId}, null)" title="View/Edit Title">@Model.Title</a></span>
            </div>
            <div id="Cancellations">
                @Html.Partial("_Cancellations", Model)
            </div>
        }
    }

    if (Model.IsLoansAdmin)
    {
        using (tabs.BeginPanel())
        {
            <br />
            <div>
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"))
            </div>
            <div>
                <span class="form-control"><a href="@Url.Action("Edit", "Titles", new {id = @Model.TitleId}, null)" title="View/Edit Title">@Model.Title</a></span>
            </div>
            <div id="Loans">
                @Html.Action("_ItemsOnLoanByCopy", "Loans", new {id = Model.CopyId})
            </div>
            <br/>
            <div class="form-footer">
                @if (ViewBag.RecordCount > 1)
                {
                    <span class="pull-left" style="padding-right: 15px;">@Html.Partial("_PaginateDetails", Model)</span>
                }
                <a href="@Url.Action("Delete", new {id = Model.CopyId})" class="btn btn-danger modal-link" title="Delete Copy"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Copy</a>
                &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
            </div>
        }
    }
}

<script type="text/javascript">

    $(document).ready(function () {
        // hide the alert after 6 seconds ...
        setTimeout(function () {
            $(".alert-dismissable").alert('close');
        }, 6000);
    });

    $(function () {
        $('a[data-toggle="tab"]').on('click', function (e) {
            // Save the latest tab:
            sessionStorage.setItem('lastTab_EditCopy', $(e.target).attr('href'));
        });

        // Go to the latest tab, if it exists:
        var lastTab = sessionStorage.getItem('lastTab_EditCopy');

        if (lastTab) {
            $('a[href="' + lastTab + '"]').click();
        }
    });
</script>