@using Westwind.Globalization
@model slls.ViewModels.DashboardViewModel

<div class="panel panel-success shadowed">
    <div class="panel-heading">
        <span class="panel-title">
            <span aria-hidden="true" class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;<span is="gadget-Title">@ViewBag.Title</span>
            <span class="pull-right"><a href="@Url.Action("Index", "Notifications", new { scope = "A", area = "LibraryAdmin"})" title="Maintain @DbRes.T("Notifications", "EntityType")" class="btn btn-link"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></span>
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-compact table-no-border">
            <tbody>
                @foreach (var notification in Model.Notifications.OrderBy(o => o.Position))
                {
                    <tr>
                        <td>
                            <p>
                                <strong>@Html.Raw(notification.Headline)</strong>
                            </p>
                            <p>@Html.Raw(notification.Text)</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ViewBag.Count > 5)
    {
        <div class="panel-footer">
            Showing 1-@ViewBag.Showing of <a href="@Url.Action("Notifications", "Home")" title="View full list">@ViewBag.Count</a> @ViewBag.CountLabel.
        </div>
    }

</div>
