@using Westwind.Globalization

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            <div class="form-group" title="@ViewBag.Message">
                @Html.DropDownList("ContactId", null, new { onchange = "window.location.href = 'Edit/' + this.options[this.selectedIndex].value;", @class = "form-control" })
            </div>
        </form>
    }

    <a href="@Url.Action("Create", "SupplierPeople")" title="Add new @DbRes.T("SupplierPeople.Contact", "FieldDisplayName")" class="btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("SupplierPeople.Contact", "FieldDisplayName")</a>
   
</div>

