@using System.Linq
@using Westwind.Globalization
@model slls.ViewModels.LocationsEditViewModel

@Html.Partial("_ModalEditHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <h4>Oops!</h4>
                    @Html.ValidationSummary()
                </div>
            }

            @Html.HiddenFor(model => model.LocationID)
            @Html.HiddenFor(model => model.CanUpdate)
            @Html.HiddenFor(model => model.CanDelete)

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                    <span class="help-inline">This is the actual location used to show where items can be found (e.g. 'Library')</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ParentLocationID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DropDownList("ParentLocationID", null, "[No parent]", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParentLocationID, "", new { @class = "text-danger" })
                    <span class="help-inline">This is the 'parent' location if your data is hierachical (e.g. 'Main Site')</span>
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_ModalEditFooter")

}


