@using System.Linq
@model slls.ViewModels.ParameterIndexViewModel

<script type="text/javascript">
    $(document).ready(function() {
        $('#parameters').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": 100,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            }
        });
    });
</script>

<table class="table" id="parameters">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parameters.FirstOrDefault().ParameterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameters.FirstOrDefault().ParameterValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parameters.FirstOrDefault().ParamUsage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Parameters)
        {
            <tr>
                <td>
                    @*@Html.ActionLink(item.ParameterName, "Edit", "Parameters", new { id = item.RecID }, new { @class = "modal-link" })*@
                    <a href="@Url.Action("Edit", "Parameters", new { id = item.RecID, area = "Config" })" title="Edit" class ="modal-link">@item.ParameterName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParameterValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParamUsage)
                </td>

                <td class="just-right">
                    @if (item.CanDelete && Model.IsBaileyAdmin)
                    {
                        <a href="@Url.Action("Delete", new {id = item.RecID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                    }
                    <a href="@Url.Action("Edit", new {id = item.RecID})" class="btn btn-link modal-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>

            </tr>
        }
    </tbody>
</table>
