@using System.Collections.Generic
@using Westwind.Globalization
@model slls.ViewModels.ParameterIndexViewModel

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        Use this feature to control the various parameters (settings) used throughout the system.
    </p>
    <p>
        <strong>Tip: </strong>Use the drop-down list below to filter on a single system area.
    </p>
</div>

@using (Html.BeginForm("Index", "Parameters", FormMethod.Get))
{
    <div class="form-group" title="@ViewBag.Message">
        @Html.DropDownList("parameterArea", (IEnumerable<SelectListItem>)ViewData["Areas"], "Select an area", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
}

@if (Model.IsBaileyAdmin)
{
    <p>
        <a href="@Url.Action("Create", "Parameters")" title="Add new System Parameter" class=" btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
    </p>
}

<hr/>

@Html.Partial("_index")

@section scripts {
    @*@Scripts.Render("~/bundles/datatables")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#parameters').DataTable({
                "dom": sDom,
                "pagingType": sPagingType,
                "pageLength": 100,
                "lengthMenu": sLengthMenu,
                "language": {
                    "url": "/DataTables/lang.txt"
                }
            });
        });
    </script>
}