@using Westwind.Globalization
@model slls.ViewModels.BudgetCodeAddViewModel

@Html.Partial("_ModalAddHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label(DbRes.T("BudgetCode.Budget_Code", "FieldDisplayName"), htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.BudgetCode, new { htmlAttributes = new { @class = "form-control", aria_required = true } })
                    @Html.ValidationMessageFor(model => model.BudgetCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AllocationSubs, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.AllocationSubs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AllocationSubs, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AllocationOneOffs, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.AllocationOneOffs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AllocationOneOffs, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_ModalAddFooter")

}
