@using System
@using System.Linq
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.TitleAuthor>

<div class="panel listpanel">

    @if (Model.Any())
    {
        <table class="listtable">
            @foreach (var item in Model.OrderBy(x => x.OrderSeq))
            {
                <tr>
                    <td>
                        @if (String.IsNullOrEmpty(item.Author.DisplayName))
                        {
                            <a href="@Url.Action("Edit", "Authors", new {id = item.AuthorId})" class="btn-link modal-link" title="Edit this @DbRes.T("Authors.Author", "FieldDisplayName")"></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", "Authors", new { id = item.AuthorId })" class="btn-link modal-link" title="Edit this @DbRes.T("Authors.Author", "FieldDisplayName")">@item.Author.DisplayName</a>
                        }
                    </td>
                    <td class="just-right">
                        <a href="@Url.Action("Edit", "TitleAuthors", new {id = item.TitleAuthorId})" class="btn btn-link modal-link" title="Edit Title @DbRes.T("Authors.Author", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-pencil" /></a>
                        <a href="@Url.Action("Delete", "TitleAuthors", new {id = item.TitleAuthorId})" class="btn btn-link modal-link" title="Remove this @DbRes.T("Authors.Author", "FieldDisplayName")"><span class=" glyphicon glyphicon-trash" /></a>
                    </td>
                </tr>
            }
        </table>
    }
</div>