@using System.Linq
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.Title>

@if (Model.Any())
{
    foreach (var title in Model.OrderBy(t => t.Title1.Substring(t.NonFilingChars)))
    {
        <div class="row">
            <div class="col-md-12">
                <h4>@Html.DisplayFor(modelItem => title.Title1)</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <table class="table table-striped table-no-border">

                    @foreach (var copy in title.Copies.OrderBy(c => c.CopyNumber))
                    {
                        <tr>
                            <td style="width: 10%;">
                                @DbRes.T("Copies.Copy", "FieldDisplayName") @Html.DisplayFor(modelItem => copy.CopyNumber)
                            </td>
                            <td style="width: 30%;">@Html.DisplayFor(modelItem => copy.Location.Location1)</td>
                            <td style="width: 60%;">@Html.DisplayFor(modelItem => copy.Holdings)</td>
                        </tr>
                    }
                </table>
                <div style="margin-bottom: 5px;">&nbsp;</div>
            </div>
        </div>
    }
}
