@using System.Linq
@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.CirculationReportsViewModel

@Html.Partial("_PrintHeader")

<h2>@ViewBag.Title</h2>
<hr />

@{
    //Find the last item in the list ...
    //var last = Model.Last();
}

@foreach (var classmark in Model.Classmarks.OrderBy(c => c.Classmark1))
{
    if (classmark != null)
    {
        var classmarkName = string.IsNullOrEmpty(classmark.Classmark1) ? "[No Name]" : classmark.Classmark1;
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        <h3>@classmarkName</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.Action("_CirculatedItemsByClassmark", new { id = classmark.ClassmarkID })
                    </td>
                </tr>
            </tbody>
        </table>

        @*//If this location is the last in the list, just end here ...
            if (location.Equals(@last))
            {
                <div></div>
            }
            else
            {
                // ... otherwise insert a page break
                <div class="page-break"></div>
            }*@
    }
}

@section scripts {
    <script src="@Url.Content("~/Scripts/report-no-data.js")" type="text/javascript"></script>
}