@using Westwind.Globalization
@model slls.ViewModels.VolumesWithLoansIndexViewModel

@*<div>&nbsp;</div>*@
<div class="row">
    @foreach (var item in Model.VolumesWithLoans)
    {
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption" style="border-bottom: 1px solid #ddd; margin-bottom: 15px;">
                    <span class="pull-right">
                        <a href="@Url.Action("Edit", "Volumes", new {id = item.VolumeID}, null)" class="btn btn-link modal-link" title="Edit" role="button"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Delete", "Volumes", new {id = item.VolumeID}, null)" class="btn btn-link modal-link" title="Delete" role="button"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                    </span>
                    <a href="@Url.Action("Edit", "Volumes", new {id = item.VolumeID}, null)" class="btn btn-link modal-link" title="Edit" role="button"><span aria-hidden="true" class="glyphicon glyphicon-barcode"></span> <strong>@Html.DisplayNameFor(model => item.Barcode):&nbsp;@Html.Raw(item.Barcode)</strong></a>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>@DbRes.T("CopyItems.Label_Text", "FieldDisplayName"):</dt>
                            <dd>@Html.DisplayFor(modelItem => item.LabelText)</dd>
                            <dt>@DbRes.T("CopyItems.Print_Label", "FieldDisplayName"):</dt>
                            <dd>@Html.DisplayFor(modelItem => item.PrintLabel)</dd>
                            <dt>@DbRes.T("CopyItems.Loan_Type", "FieldDisplayName"):</dt>
                            <dd>@Html.DisplayFor(modelItem => item.LoanType)</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl class="dl-horizontal">
                            <dt>@DbRes.T("CopyItems.Is_On_Loan", "FieldDisplayName"):</dt>
                            <dd>@Html.DisplayFor(modelItem => item.OnLoan)</dd>
                            @if (item.OnLoan)
                            {
                                <dt>@DbRes.T("Borrowing.Borrowed", "FieldDisplayName"):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Borrowed)</dd>
                                <dt>@DbRes.T("Borrowing.Date_Return_Due", "FieldDisplayName"):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.ReturnDue)</dd>
                                <dt>@DbRes.T("Borrowing.Borrowed_By", "FieldDisplayName"):</dt>
                                <dd><a href="@Url.Action("Edit", "LibraryUsers", new {id = item.BorrowerUser_ID})" class="modal-link">@Html.DisplayFor(modelItem => item.Fullname)</a>&nbsp;&nbsp;<a href="@Url.Action("NewEmailPopup", "Messaging", new { to = item.EmailAddress, subject = "Message about: " + item.Title, area = "" })" class="modal-link" title="Email @item.Firstname"><span class="glyphicon glyphicon-envelope"></span></a></dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
