@using Westwind.Globalization
@model slls.Models.Volume

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Volume</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label(DbRes.T("CopyItems.Barcode", "FieldDisplayName"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Copy.AcquisitionsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copy.AcquisitionsNo)
        </dd>
        
        <dt>
            @Html.Label(DbRes.T("CopyItems.Label_Text", "FieldDisplayName"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabelText)
        </dd>

        <dt>
            @Html.Label(DbRes.T("CopyItems.Is_On_Loan", "FieldDisplayName"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnLoan)
        </dd>

        <dt>
            @Html.Label(DbRes.T("CopyItems.Is_Ref_Only", "FieldDisplayName"))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintLabel)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolumeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
