@using System.Collections.Generic
@using Westwind.Globalization
@model slls.ViewModels.VolumesIndexViewModel

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    @if (Model.UsePreprintedBarcodes)
    {
        <p class="error">
            <strong>Note: </strong>You are using pre-printed barcode labels/stickers. Any @DbRes.T("CopyItems.Barcode", "FieldDisplayName") highlighted in <span class="btn-danger">&nbsp;red&nbsp;</span> is still displaying a system-generated value and has not yet been updated to the correct label/sticker value.
        </p>
    }
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectTitle" }))
    {
        @Html.AntiForgeryToken()
        <div class="row" style="margin-right: 0">
            <div class="col-md-12" style="margin-bottom: 5px;">@Model.SelectTitleTip</div>
            <div class="col-md-12" title="@Model.SelectTitleTip">
                @Html.TextBoxFor(x => x.SelectTitle, new { @placeholder = @Model.SelectTitlePlaceHolder, @class = "form-control" })
            </div>
        </div>
    }

    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-top: 10px;">
            <a href="@Url.Action("Create", "Volumes", new {id = Model.TitleId})" title="Add new @DbRes.T("CopyItems.Copy_Item", "FieldDisplayName")" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("CopyItems.Copy_Item", "FieldDisplayName")</a>
        </div>
    </div>
    
</div>

<div id="VolumesTable">
    @Html.Partial("_VolumesWithTitles", Model)
</div>

@Html.Hidden("AutoSuggestUrl", @Url.Action("AutoComplete", "Titles"))
@Html.Hidden("DestUrl", @Url.Action("Index", "Volumes", new { id = "REPLACEME" }))

@section scripts {
<script src="@Url.Content("~/Scripts/jquery.mcautocomplete.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/_SelectTitle.js")" type="text/javascript"></script>
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/Volumes/_VolumesWithTitles.js")" type="text/javascript"></script>
}