@using System
@using System.Linq
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.StatusType>
    
@Html.Partial("_HeaderSeeAlso", Model)

<p>
    <a href="@Url.Action("Create", "StatusTypes")" title="Add new @DbRes.T("StatusTypes.Status_Type", "FieldDisplayName")" class="btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="statustypes" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @DbRes.T("StatusTypes.Status_Type", "FieldDisplayName")
            </th>
            <th>
                @DbRes.T("StatusTypes.Opac", "FieldDisplayName")
            </th>
            <th>
                @DbRes.T("Copies", "EntityType")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (String.IsNullOrEmpty(item.Status))
                    {
                        @Html.ActionLink(" ", "Edit", "StatusTypes", new {id = item.StatusID}, new {@class = "modal-link"})
                    }
                    else
                    {
                        @Html.ActionLink(item.Status, "Edit", "StatusTypes", new {id = item.StatusID}, new {@class = "modal-link"})
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opac)
                </td>
                <td>
                    @if (item.Copies.Any())
                    {
                        <a href="@Url.Action("ByStatus", "Copies", new { listStatus = item.StatusID })" title="View all items with this @DbRes.T("StatusTypes.Status_Type", "FieldDisplayName")"><span class="badge badge-link">@item.Copies.Count</span></a>
                    }
                </td>

                <td class="just-right">
                    @if (item.CanDelete && !item.Copies.Any())
                    {
                        <a href="@Url.Action("Delete", new {id = item.StatusID})" class="btn btn-link modal-link" title="Delete this Status Type"><span class=" glyphicon glyphicon-trash"></span></a>
                    }
                    <a href="@Url.Action("Edit", new {id = item.StatusID})" class="btn btn-link modal-link" title="Edit this Status Type"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#statustypes').DataTable({
                "dom": sDom,
                "pagingType": sPagingType,
                "pageLength": sPageLength,
                "lengthMenu": sLengthMenu,
                "language": {
                    "url": "/DataTables/lang.txt"
                },
                "columnDefs": [
                    {
                        "width": "70%",
                        "targets": [0]
                    },
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": true,
                        "orderSequence": ["desc", "asc"],
                        "targets": [1]
                    },
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": true,
                        "orderSequence": ["desc", "asc"],
                        "targets": [2]
                    },
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": false,
                        "targets": [3]
                    }
                ]
            });
        });
    </script>
}