@using slls.App_Settings
@using slls.Areas.LibraryAdmin
@using slls.Utils.Helpers
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.IpAddress>

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        This page lists all IP addresses that have attempted to access this site. Use the features below to manage access to the site based on IP addresses.
    </p>
    <p>
        If <span style="background-color: yellow">&nbsp;<a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering On/Off" class="modal-link">IP Address Filtering</a>&nbsp;</span> is turned on, only those IP addresses listed below with '@Html.DisplayNameFor(x => x.AllowPassThrough)' ticked will be granted access. Visitors from any other IP address will be blocked (i.e. receive a '403: Forbidden' error).
    </p>
    <p>
        <strong>Note: </strong>If any IP address listed below has '@Html.DisplayNameFor(x => x.Blocked)' ticked, access from that IP address will be blocked, regardless of whether IP Address Filtering is turned on or not.
    </p>
    <br/>
    @if (GlobalVariables.IpFilteringOn)
    {
        <p><strong><span class="glyphicon glyphicon-info-sign"></span>&nbsp;</strong>IP Address Filtering is currently <span style="color:green">On</span>. <a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering off" class="modal-link">Click here</a> to turn it off.</p>
    }
    else
    {
        <p><strong><span class="glyphicon glyphicon-info-sign"></span>&nbsp;</strong>IP Address Filtering is currently <span style="color:red">Off</span>. <a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering on" class="modal-link">Click here</a> to turn it on.</p>
    }
    
</div>


<p>
    <a href="@Url.Action("Add", "IpAddresses")" title="Add new IP Address to list" class="btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="ipaddresses" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.IpAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.AllowPassThrough)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Blocked)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.InputDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CanUpdate)
                    {
                        @Html.ActionLink(string.IsNullOrEmpty(item.IpAddress1) ? " " : item.IpAddress1, "Edit", "IpAddresses", new {id = item.RecId}, new {@class = "modal-link"})
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.IpAddress1)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowPassThrough)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InputDate)
                </td>
                <td class="just-right">
                    @if (item.CanDelete)
                    {
                        <a href="@Url.Action("Delete", new {id = item.RecId})" class="btn btn-link modal-link" title="Delete IP Address"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                    }
                    @if (item.CanUpdate)
                    {
                        <a href="@Url.Action("Edit", new { id = item.RecId })" class="btn btn-link modal-link" title="Edit IP Address"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ipaddresses').DataTable({
                "dom": sDom,
                "pagingType": sPagingType,
                "pageLength": sPageLength,
                "lengthMenu": sLengthMenu,
                "language": {
                    "url": "/DataTables/lang.txt"
                },
                "columnDefs": [
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": false,
                        "targets": [4]
                    }
                ]
            });
        });
    </script>
}