@using slls.App_Settings
@using slls.Areas.LibraryAdmin
@using slls.Utils.Helpers
@using Westwind.Globalization
@model IEnumerable<slls.Models.IpAddress>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ipaddresses').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs": [                
                {
                    "width": "10%",
                    "searchable": false,
                    "sortable": false,
                    "targets": [4]
                }
            ]
        });
    });
</script>

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        <strong>Tip:&nbsp;</strong>This page lists all IP Addresses that have attempted to access this site. If <a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering On/Off" class="modal-link">IP Address Filtering</a> is turned on, only those IP Addresses listed below with '@Html.DisplayNameFor(x => x.AllowPassThrough)' ticked will be granted access. Visitors from any other IP Address will be blocked (i.e. receive a '403: Forbidden' error).
    </p>
    @if (GlobalVariables.IpFilteringOn)
    {
        <p><strong><span class="glyphicon glyphicon-info-sign"></span>&nbsp;</strong>IP Address Filtering is currently <span style="color:green">On</span>. <a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering off" class="modal-link">Click here</a> to turn it off.</p>
    }
    else
    {
        <p><strong><span class="glyphicon glyphicon-info-sign"></span>&nbsp;</strong>IP Address Filtering is currently <span style="color:red">Off</span>. <a href="@Url.Action("Edit", "Parameters", new {parameterId = "Security.IpFilteringOn", area = "Config"})" title="Turn IP Address Filtering on" class="modal-link">Click here</a> to turn it on.</p>
    }
    
</div>


<p>
    <a href="@Url.Action("Add", "IpAddress")" title="Add new IP Address to list" class="btn btn-primary modal-link"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="ipaddresses" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.IpAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Blocked)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.AllowPassThrough)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.InputDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CanUpdate)
                    {
                        @Html.ActionLink(string.IsNullOrEmpty(item.IpAddress1) ? " " : item.IpAddress1, "Edit", "IpAddress", new {id = item.RecId}, new {@class = "modal-link"})
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.IpAddress1)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowPassThrough)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InputDate)
                </td>
                <td class="just-right">
                    @if (item.CanDelete)
                    {
                        <a href="@Url.Action("Delete", new {id = item.RecId})" class="btn btn-link modal-link" title="Delete IP Address"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                    }
                    @if (item.CanUpdate)
                    {
                        <a href="@Url.Action("Edit", new { id = item.RecId })" class="btn btn-link modal-link" title="Edit IP Address"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
