@using Westwind.Globalization
@model slls.ViewModels.SubjectIndexAddViewModel

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm("Add", "SubjectIndexes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TitleId)

            <div class="alert alert-info">
                <p>
                    <strong><span class="glyphicon glyphicon-info-sign"></span></strong> Start typing the @DbRes.T("Keywords.Keyword", "FieldDisplayName").ToLower() you wish to add in the box below. You can add a new @DbRes.T("Keywords.Keyword", "FieldDisplayName").ToLower() if the one you require does not already exist.
                </p>
            </div>
            <div class="alert alert-success alert-dismissable" role="alert" style="display: none">
                <p>
                    <strong><span class="glyphicon glyphicon-thumbs-up"></span> <span id="_addedKeyword"></span></strong> added successfully. You can now add another if you wish. When you're finish, click away from this pop-up, or click on the "Done" link.
                </p>
            </div>

            <div class="form-group">
                @Html.Label(DbRes.T("Titles.Title", "FieldDisplayName"), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p class="form-control-static">@Html.DisplayFor(model => model.Title)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(DbRes.T("Keywords.Keyword", "FieldDisplayName"), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group col-md-9">
                    @Html.TextBoxFor(x => x.Keyword, new { @placeholder = "Start typing the term you are looking for ...", @class = "form-control" })
                    @Html.HiddenFor(model => model.KeywordId)
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal-footer">
        <button id="add_btn" type="submit" value="Add" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> Add @DbRes.T("Keywords.Keyword", "FieldDisplayName")</button>
        &nbsp;&nbsp;or&nbsp;<input type="button" id="btnCancel" class="btn-link" data-dismiss="modal" value="@DbRes.T("Buttons.Cancel", "Terminology")"/>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeaderNoJson")
<script type="text/javascript">

    $(document).ready(function () {
        $('#Keyword').focus();

        //Don't close the pop-up, but allow user to add another keyword ...
        $('form').submit(function (e) {
            e.preventDefault();
            $.post(this.action, $(this).serialize(), function (response) {
                if (response.error) {
                    alert(response.error);
                } else {
                    var titleId = $('#TitleId').val();
                    var url = '@Url.Action("_ListKeywords", "Titles", new { id = "REPLACEME" })';
                    $.get(url.replace('REPLACEME', titleId), function (data) {
                    $("#_listKeywords").html(data);
                });
                var textbox = $('#Keyword');
                textbox.focus();
                textbox.select();
                $('#btnCancel').prop('value', 'Done');
                $('.alert-info').hide();
                $('.alert-success').show();
                $('#_addedKeyword').html(textbox.val());
            }
        }, 'json');
        });

        //Refresh the whole page on close ...
        $('#stdModal').on('hidden.bs.modal', function() {
            location.reload();
        });


    $("#Keyword").autocomplete({
        appendTo: "#stdModal",
        source: function (request, response) {
            var title = new Array();
            var urlGetTerms = "@Url.Action("Autocomplete", "Keywords")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                    }
                });
                response(title);
            },
            select: function (event, ui) {
                if (ui.item) {
                    if (ui.item.Id != null) {
                        $('#KeywordId').val(ui.item.Id);
                    }
                }
            }
        });
    });
</script>

