@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.SubjectIndex>

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create","SubjectIndexes")" title="Add new @DbRes.T("Keywords.Keyword", "FieldDisplayName") to a @DbRes.T("Titles.Title", "FieldDisplayName")">Add New <span aria-hidden="true" class="glyphicon glyphicon-plus-sign" /></a>
</p>

<table id="subjectindex" class="table table-hover">
    <thead>
        <tr>
            <th>
                @DbRes.T("Titles.Title", "FieldDisplayName")
            </th>
            <th>
                @DbRes.T("Keywords.Keyword", "FieldDisplayName")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title.Title1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword.KeywordTerm)
                </td>
                <td class="just-right">
                    <a href="@Url.Action("Delete", new { id = item.SubjectIndexID })" class="btn btn-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#subjectindex').DataTable({
                "dom": sDom,
                "pagingType": sPagingType,
                "pageLength": sPageLength,
                "lengthMenu": sLengthMenu,
                "language": {
                    "url": "/DataTables/lang.txt"
                }
            });
        });
    </script>
}