@model slls.Models.CirculationMessage

@Html.Partial("_ModalEditHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="modal-body">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.CirculationMsgID)

            <div class="form-group">
                @Html.LabelFor(model => model.CirculationMsg, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CirculationMsg, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CirculationMsg, "", new {@class = "text-danger"})
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_ModalEditFooter")
}
