@using System.Linq
@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

<script type="text/javascript">

    $(document).ready(function () {

        var dataTable = $('#orderdetails').DataTable({
            //"orderCellsTop": true,
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "deferRender": true,
            "order": [[ 12, "desc" ]],
            "columnDefs": [{
                "width": "5%",
                "targets": [0],
                "data": 0,
                "render": function (data, type, row) {
                    return '<a href="OrderDetails/Edit/' + row[11] + '" class="btn-link" title="Edit/Update Order">' + data + '</a>';
                }
            },
            {
                "width": "10%",
                "orderData": [9],
                "targets": [1]
            },
            {
                "width": "20%",
                "targets": [2]
            },
            {
                "width": "10%",
                "targets": [3, 4]
            },
            {
                "width": "10%",
                "orderData": [9],
                "targets": [5]
            },
            {
                "width": "10%",
                "orderData": [10],
                "targets": [6]
            },
            {
                "visible": false,
                "targets": [8, 9, 10, 11, 12]
            },
            {
                "width": "10%",
                "orderable": false,
                "targets": [13]
            }],
            initComplete: function () {
                var api = this.api();
                this.api().columns('.select-filter').every(function () {
                    var column = this;
                    var select = $('<select class="form-control" style="width:100%;"><option value=""></option></select>')
                        .appendTo($(column.footer()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
    });
</script>


<table id="orderdetails" class="table table-condensed table-hover table-responsive" style="width: 100%;">
    <thead>
        <tr id="label_row">
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderNo)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderDate)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().SupplierID)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderCategoryID)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PriceGross)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Expected)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ReceivedDate)
            </th>
            <th class="select-filter">
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().InvoiceRef)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        <tfoot>
            <tr>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
                <td class="filter"></td>
            </tr>
        </tfoot>

    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCategory.OrderCategory1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceGross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceRef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td class="just-right">
                    @if (item.InvoiceDate == null && item.InvoiceRef == null)
                    {
                        <a href="@Url.Action("AddReceipt", new {id = item.OrderID, callingAction = @Html.CurrentViewName()})" class="btn btn-link" data-toggle="modal" data-target="#lrgModal" title="Add Invoice">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-tag"></span></a>
                    }
                    @if (item.ReceivedDate == null)
                    {
                        <a href="@Url.Action("QuickReceipt", new {id = item.OrderID})" class="btn btn-link modal-link" data-toggle="modal" data-target="#stdModal" title="Quick Receipt">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-calendar"></span></a>
                    }

                    <a href="@Url.Action("Edit", new {id = item.OrderID})" class="btn btn-link" title="Edit">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", new {id = item.OrderID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
