@using System.Linq
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

<table id="orderdetails" class="table table-condensed table-hover table-responsive" style="width: 100%;">
    <thead>
    <tr id="label_row">
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderNo)
        </th>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().TitleID)
        </th>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ReceivedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PriceGross)
        </th>
        <th class="select-filter">
            @DbRes.T("Orders.Requested_By", "FieldDisplayName")
        </th>
        <th class="select-filter">
            @DbRes.T("Orders.Authorised_By", "FieldDisplayName")
        </th>
        <th>
            @* hidden *@
        </th>
        <th>
            @* hidden *@
        </th>
        <th>
            @* hidden *@
        </th>
        <th>
            @* hidden *@
        </th>
        <th>
            @* hidden *@
        </th>
        <th>
            @* hidden *@
        </th>
    </tr>

    </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model.Orders)
        {
            var authority = item.AuthoriserUser == null ? "" : Model.AllUsers.FirstOrDefault(u => u.Id == item.AuthoriserUser.Id).FullnameRev;
            var requester = item.RequesterUser == null ? "" : Model.AllUsers.FirstOrDefault(u => u.Id == item.RequesterUser.Id).FullnameRev;
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title.Title1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceGross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => requester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => authority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td class="just-right">

                    <a href="@Url.Action("Edit", new {id = item.OrderID})" class="btn btn-link" title="Edit">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", new {id = item.OrderID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
