@using System.Linq
@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

<script type="text/javascript">

    $(document).ready(function () {

        $('#orderdetails').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "order": [[ 2, 'desc' ],[ 0, 'asc' ]],
            "columnDefs": [{
                "width": "5%",
                "targets": [0],
                "data": 0
            },
            {
                "width": "25%",
                "targets": [2],
                "data": 2
            },
            {
                "width": "10%",
                "orderData": [8],
                "targets": [1]
            },
            {
                "width": "15%",
                "targets": [3]
            },
            {
                "width": "10%",
                "targets": [4]
            },
            {
                "width": "10%",
                "orderData": [9],
                "targets": [6]
            },
            {
                "visible": false,
                "targets": [7, 8, 9, 10, 11, 12]
            },
            {
                "orderable": false,
                "searchable": false,
                "targets": [13]
            }],
            initComplete: function () {
                this.api().columns('.select-filter').every(function () {
                    var column = this;
                    var select = $('<select class="form-control" style="width:100%;"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
    });
</script>


<table id="orderdetails" class="table table-condensed table-hover table-responsive" style="width: 100%;">
    <thead>
    <tr>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderDate)
        </th>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().TitleID)
        </th>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().SupplierID)
        </th>
        <th class="select-filter">
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().OrderCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().PriceGross)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Expected)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "OrderDetails", new  { id = item.OrderID })" title="View/Edit Order"><span class="glyphicon glyphicon-pencil"></span> @item.OrderNo</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Titles", new  { id = item.TitleID })" title="View/Edit Title">@item.Title.Title1</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCategory.OrderCategory1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceGross)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expected)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleID)
                </td>
                <td class="just-right">
                    @if (item.InvoiceDate == null && item.InvoiceRef == null)
                    {
                        <a href="@Url.Action("AddReceipt", new {id = item.OrderID, callingAction = @Html.CurrentViewName()})" class="btn btn-link" data-toggle="modal" data-target="#lrgModal" title="Add Invoice">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-tag"></span></a>
                    }
                    @if (item.ReceivedDate == null)
                    {
                        <a href="@Url.Action("QuickReceipt", new {id = item.OrderID})" class="btn btn-link modal-link" data-toggle="modal" data-target="#stdModal" title="Quick Receipt">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-calendar"></span></a>
                    }

                    <a href="@Url.Action("Edit", new {id = item.OrderID})" class="btn btn-link" title="Edit">&nbsp;<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", new {id = item.OrderID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
