@using slls.Models
@using VortexSoft.Bootstrap
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsEditViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">
    @Html.TextBoxFor(x => Model.SelectOrder, new { @placeholder = Model.PlaceHolderText, @class = "form-control" })
    <div class="row" style="margin-right: 0">
        <div class="col-md-12" style="margin-top: 10px;">
            <span id="saveDetails" class="pull-right">
                <button type="button" id="btnUpdateOrder" value="Save Details" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @DbRes.T("Buttons.Confirm_Update", "Terminology")</button>
            </span>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add &bull; Print &bull; Duplicate &bull; Delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Create", "OrderDetails", new {id = ViewData["CopyID"]})" data-toggle="modal" data-target="#lrgModal" title="Add New @DbRes.T("Orders.Order", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New @DbRes.T("Orders.Order", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("PrintOrder", "OrderDetails", new {id = Model.OrderID})" title="Print @DbRes.T("Orders.Order", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-print"></span> Print @DbRes.T("Orders.Order", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("DuplicateOrder", "OrderDetails", new {id = Model.OrderID})" title="Duplicate @DbRes.T("Orders.Order", "FieldDisplayName")"><span aria-hidden="true" class="glyphicon glyphicon-duplicate"></span> Duplicate @DbRes.T("Orders.Order", "FieldDisplayName")</a></li>
                    <li><a href="@Url.Action("Delete", "OrderDetails", new {id = Model.OrderID, callingAction = "edit"})" title="Delete @DbRes.T("Orders.Order", "FieldDisplayName")" class="modal-link"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete @DbRes.T("Orders.Order", "FieldDisplayName")</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PostSuccess")

@if (Model.WarningMsg.Length > 0)
{
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="sr-only">Message:</span>
        @Html.Raw(Model.WarningMsg)
    </div>
}

@using (Html.BeginForm("Update", "OrderDetails", FormMethod.Post, new { id = "_orderDetails", name = "_orderDetails" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OrderID)
    @Html.HiddenFor(model => model.SelectedTab)
    @Html.HiddenFor(model => model.CallingAction)

    @Html.Partial("_OrderDetails", Model)

    <div class="form-footer">
        <span class="pull-left">
            <a href="@Url.Action("Delete", new {id = Model.OrderID, callingAction = "edit"})" class="btn btn-danger modal-link" title="Delete Order"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> Delete Order</a>
        </span>
        <button type="submit" id="btnSave" value="Save" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @DbRes.T("Buttons.Confirm_Update", "Terminology")</button>
        &nbsp;&nbsp;or&nbsp;<input type="button" value="Cancel" class="btn-link" onclick="window.history.back();" />
    </div>
}

@Html.Hidden("DestUrl", @Url.Action("Edit", "OrderDetails", new { id = "REPLACEME" }))
@Html.Hidden("AutoSuggestUrl", @Url.Action(@Model.AutoCompleteSource, "OrderDetails"))
@Html.Hidden("BackToTitleUrl", @Url.Action("Edit", "Titles", new { id = "REPLACEME" }));

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.mcautocomplete.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/_SelectOrder.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            //REM: Hide the 'success' alert after x seconds ...
            setTimeout(function() {
                $(".alert-success").alert('close');
            }, 6000);
        });

        $(function() {
            $('a[data-toggle="tab"]').on('click', function(e) {
                var target = $(e.target).attr("href"); // active tab

                if (target === "#backToTitle") {
                    var url = $("#BackToTitleUrl").val();
                    window.location.href = url.replace('REPLACEME', @Model.TitleID);
                } else {
                    // Save the latest tab:
                    sessionStorage.setItem('lastTab_EditOrder', target);
                }

            });

            //go to the latest tab, if it exists:
            var lastTab = sessionStorage.getItem('lastTab_EditOrder');

            if (lastTab) {
                if (lastTab !== "#backToTitle") {
                    $('a[href="' + lastTab + '"]').click();
                }
            } else {
                $('a[href="#orderdetails"]').click();
            }
        });

        $('#btnUpdateOrder').click(function(e) {
            $('#_orderDetails').submit();
        });

    </script>
}
