@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.ReportsGeneratorViewModel

<script type="text/javascript">

    $(document).ready(function () {
        //$('#lstReports').removeAttr('multiple');
        //$('#lstExpenditureTypes').removeAttr('multiple');
        //$('#lstBudgetCode').removeAttr('multiple');
    })    

</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PostReportGenerator", "OrderDetails", FormMethod.Post, new { id = "form1" }))
{
    @Html.Partial("_PostAlert")
    <div class="alert alert-info">
        <span class="pull-right" style="padding-left:10px;"><button type="submit" id="btnView1" value="View" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span> View Report</button>&nbsp;&nbsp;</span>
        <p><strong><span class="glyphicon glyphicon-info-sign"></span></strong> Use this tool to create the expenditure report you require. Select the basic report from the main list on the left. Then select the appropriate filters/parameters from the boxes displayed on the right.  Once you are happy with your selection, press the 'View Report' button.</p>
    </div>
        
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="">
                        Available Report Types:
                    </span>
                </div>
                <div class="panel-body">
                    @Html.ListBoxFor(m => m.SelectedReport, Model.Reports, new { @class = "form-control", size = 25, @id = "lstReports" })
                </div>
            </div>
        </div>
        <div class="col-md-5">

            <div id="accountYearsList" style="display: block;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="" id="accountYearsCaption">
                            Time Period:
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Account Year:", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.SelectedAccountYear, Model.AccountYears, new { @class = "form-control", @id = "lstAccountYears" })
                                </div>
                            </div>

                            @Html.HorizontalDivider("Or Received Between")

                            <div class="form-group">
                                @Html.Label("Start Date:", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(x => Model.StartDate, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("End Date:", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(x => Model.EndDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="budgetCodeList" style="display:block;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="" id="budgetCodesCaption">
                            Budget Code(s):
                        </span>
                    </div>
                    <div class="panel-body">
                        @Html.ListBoxFor(m => m.SelectedBudgetCode, Model.BudgetCodes, new { @class = "form-control", size = 10, @id = "lstBudgetCode" })
                    </div>
                </div>
            </div>

        </div>        
    </div>
    <div class="form-footer">
        <button type="submit" id="btnView2" value="View" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span> View Report</button>
        &nbsp;&nbsp;or&nbsp;<a href="@Url.Action("Index")" class="btn-link" title="Cancel">Cancel</a>
    </div>
}

<script type="text/javascript">
    //Reset the select Account Year to '0' if the date range is changed at all ...
    $('#StartDate').change(function () {
        $("#lstAccountYears option[value='0']").prop('selected', true);
    });
    $('#EndDate').change(function () {
        $("#lstAccountYears option[value='0']").prop('selected', true);
    });
</script>