@using Westwind.Globalization
@model slls.ViewModels.ReportsGeneratorViewModel

@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
<script src="~/Scripts/DatePickerReady.js"></script>*@

<script type="text/javascript">

    $(document).ready(function () {
        //$('#lstReports').removeAttr('multiple');
        //$('#lstExpenditureTypes').removeAttr('multiple');
        //$('#lstBudgetCode').removeAttr('multiple');
    })    

</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PostReportGenerator", "OrderDetails", FormMethod.Post, new { id = "form1" }))
{
    <div class="alert alert-info">
        <span class="pull-right" style="padding-left:10px;"><input type="submit" value="View Report" class="btn btn-success" />&nbsp;&nbsp;</span>
        <span class="help-inline">Use this tool to create the expenditure report you require. Select the basic report from the main list on the left. Then select the appropriate filters/parameters from the boxes displayed on the right.  Once you are happy with your selection, press the 'View Report' button.</span><br />
        @Html.ValidationMessage("NoData", new { @class = "text-danger" })
    </div>
        
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="">
                        Available Report Types:&nbsp;
                    </span>
                    @Html.ValidationMessage("NotSelected", new { @class = "text-danger" })
                </div>
                <div class="panel-body">
                    @Html.ListBoxFor(m => m.SelectedReport, Model.Reports, new { @class = "form-control", size = 25, @id = "lstReports" })
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="budgetCodeList" style="display:block;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="" id="budgetCodesCaption">
                        Budget Code(s):
                    </span>
                </div>
                <div class="panel-body">
                    @Html.ListBoxFor(m => m.SelectedBudgetCode, Model.BudgetCodes, new { @class = "form-control", size = 10, @id = "lstBudgetCode" })
                </div>
            </div>
        </div>
            <div id="accountYearsList" style="display:block;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="" id="accountYearsCaption">
                            Choose Period:
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label("Account Year:", new { @class = "control-label col-sm-4" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.SelectedAccountYear, Model.AccountYears, new { @class = "form-control", @id = "lstAccountYears" })
                            </div>
                        </div>
                        <div style="padding:30px;">or</div>
                        <div class="form-group">
                            @Html.Label("From:", new { @class = "control-label col-sm-2 just-right" })
                            <div class="col-sm-4">
                                @Html.EditorFor(x => Model.StartDate, new { @class = "form-control" })
                            </div>
                            @Html.Label("To:", new { @class = "control-label col-sm-2 just-right" })
                            <div class="col-sm-4">
                                @Html.EditorFor(x => Model.EndDate, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="form-footer">
        <input type="submit" value="View Report" class="btn btn-success" />
        &nbsp;&nbsp;or&nbsp;<a href="@Url.Action("Index")" class="btn-link" title="Cancel">Cancel</a>
    </div>
}
