@using Westwind.Globalization
@model slls.ViewModels.SelectOrderViewmodel

@Html.Partial("_HeaderSeeAlso")

<div class="alert alert-info">

    <span class="help-block">@Html.Raw(Model.HelpText)</span>

    @using (Html.BeginForm("PostSelect", "OrderDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-group">
            @Html.TextBoxFor(x => x.SelectOrder, new {@placeholder = @Model.PlaceHolderText, @class = "form-control"})
            @Html.HiddenFor(model => model.OrderID)
        </div>
    }

</div>

@*@Html.HiddenFor(model => model.ReturnAction)*@
@Html.HiddenFor(model => model.Tab)
@Html.Hidden("DestUrl", @Url.Action(@Model.ReturnAction, "OrderDetails", new { id = "REPLACEME" }))

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.mcautocomplete.js")" type="text/javascript"></script>

    <script type="text/javascript">
        
        function selectAllText(textbox) {
            textbox.focus();
            textbox.select();
        }

        $('#SelectOrder').click(function () { selectAllText(jQuery(this)) });

        var columns = [{ name: '', minWidth: '0%', valueField: 'Id' }, { name: 'Title', minWidth: '30%', valueField: 'title' }, { name: 'Edition', minWidth: '10%', valueField: 'edition' }, { name: 'Year', minWidth: '10%', valueField: 'year' }, { name: 'Supplier', minWidth: '20%', valueField: 'suppliername' }, { name: 'Order No.', minWidth: '10%', valueField: 'orderno' }, { name: 'Ordered', minWidth: '10%', valueField: 'orderdate' }];

        $("#SelectOrder").mcautocomplete({
            showHeader: true,
            columns: columns,
            source: function (request, response) {
                var title = new Array();
                var urlGetTerms = "@Url.Action("AutoComplete", "OrderDetails")";
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: urlGetTerms,
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            title[i] = { OrderId: data[i].OrderId, title: data[i].Title, edition: data[i].Edition, year: data[i].Year, suppliername: data[i].SupplierName, orderno: data[i].OrderNo, orderdate: data[i].OrderDate };
                        }
                    }
                });
                response(title);
            },
            select: function (event, ui) {
                event.preventDefault();
                if (ui.item) {
                    if (ui.item.OrderId != null) {
                        $('#SelectOrder').val(ui.item.title);
                        $('#OrderID').val(ui.item.OrderId);
                        var url = $("#DestUrl").val();
                        window.location.href = url.replace('REPLACEME', ui.item.OrderId);
                    }
                }
                return true;
            }
        });

    </script>
}