@using Westwind.Globalization
@model slls.ViewModels.SelectOrderViewmodel

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

@Html.Partial("_HeaderSeeAlso")

<div class="alert alert-info">

    <span class="help-block">@Html.Raw(Model.HelpText)</span>

    @using (Html.BeginForm("PostSelect", "OrderDetails", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ReturnAction)
        @Html.HiddenFor(model => model.Tab)

        <div class="form-group" title="@Model.Message">
            @Html.DropDownListFor(model => model.OrderID, Model.Orders, new { @class = "form-control", style = "font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;", onchange = "this.form.submit();" })
            <span class="pull-right"><button type="button" id="showOrders" name="showOrders" class="btn btn-link" value="showAll" title="Click to list all orders">[Show All]</button></span>
            @Html.ValidationMessageFor(model => model.OrderID, "", new { @class = "text-danger" })
        </div>
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {

        //Get a list of orders ...
        $("#showOrders").click(function () {
            var select = $("#OrderID");
            var showAll = $("#showOrders");
            var status = showAll.attr("value");
            //alert(status);
            select.empty();
            var filter;
            var text;
            var newStatus;
            if (status === "showAll") {
                filter = { filter: "" };
                newStatus = "outstanding";
                text = "[Show Current]";
            }
            if (status === "outstanding") {
                filter = { filter: "outstanding" };
                newStatus = "showAll";
                text = "[Show All]";
            }

            $.ajax({
                url: '@Url.Action("GetOrderList", "OrderDetails")',
                type: 'Post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(filter),
                success: function (data) {
                    if (data.success) {
                        $.each(data.AllOrders, function (index, itemData) {
                            select.append($('<option />', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        }
                        );
                        showAll.attr('value', newStatus);
                        showAll.Text(text);
                    } else {
                        alert('invalid ID' + data.success);
                    }
                },
                async: false
            });
        });
    })
</script>