@using System
@using slls.Models
@using slls.ViewModels
@model System.Collections.Generic.IEnumerable<slls.Models.Menu>

<script type="text/javascript">
    $(function () {
        var detailsPartial = $('#details');

        $('.details-link').click(function (event) {
            event.preventDefault();
            var url = $(this).attr('href');

            $.ajax({
                url: url,
                type: 'get',
                success: function (data) {
                    detailsPartial.html(data);
                    $('#clearDetails').click(function () {
                        detailsPartial.html(null);
                    });
                }
            });
        });

        $('.list > li a').click(function () {
            var menuItem = $(this).parent().find('ul');
            var id = menuItem.attr('id');
            menuItem.toggle();
            //alert(menuItem.is(':visible'));
            localStorage.setItem('menuItemDisplay.' + id, menuItem.is(':visible'));
        });
    });

</script>


<h2>@ViewBag.Title</h2>

<div class="well">
    <span class="help-block">
        <p>Use this tool to maintain the menus available to users. Select on any menu item in the left-hand structure to view, edit or delete the selected menu item's attributes.</p>
        <p><strong>Note:</strong> New menu items will be added to the same menu level/branch as the selected item. By default, they will be positioned one place below the selected item unless the sort order is changed when adding.</p>
    </span>
    <form>
        <div class="row" style="margin-right: 0">
            <div class="col-md-3">@Html.DropDownList("MenuType", null, new { onchange = "window.location.href = this.options[this.selectedIndex].value;", @class = "form-control" })</div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">Menu Structure: @ViewBag.Menu</span>
            </div>
            <div class="panel-body" style="padding: 15px 0;">
                <div class="collapse navbar-collapse" id="menuStructure">
                    <ul role="menu" class="list">
                        @{
                            //Get the top level menu items ...
                            var itemsL1 = from m in Model.Where(m => m.ParentID == (int)ViewData["ParentMenuID"]).OrderBy(m => m.SortOrder).ToList()
                                          select m;
                            foreach (var l1 in itemsL1)
                            {
                                <li class="menu-builder-l1">
                                    @Html.ActionLink(@l1.Title, "Details", new { id = l1.ID }, new { @class = "details-link" })
                                    @{
                                //Get the sub menu headings ...
                                var itemsL2 = from p in Model.Where(m => m.ParentID == l1.ID) select p;
                                if (itemsL2 != null || itemsL2.Any())
                                {

                                    <ul role="menu" id=l1.ID>
                                        @foreach (var l2 in itemsL2)
                                        {
                                            <li class="menu-builder-l2">
                                                <a class="dropdown-toggle details-link" data-toggle="dropdown" href="@Url.Action("Details", new { id = l2.ID })">@l2.Title <span class="caret"></span></a>
                                                <ul class="list2" id="@l2.ID" role="menu" style="display: block;">
                                                    @{
                                            //Get the actual sub menu items ...
                                            var itemsL3 = from l in Model.Where(m => m.ParentID == l2.ID)
                                                          select l;
                                            if (itemsL3 != null || itemsL3.Any())
                                            {
                                                foreach (var l3 in itemsL3)
                                                {
                                                    if (l3.Class == "divider")
                                                    {
                                                        <li class="menu-builder-l3" >
                                                            @Html.ActionLink("____separator____", "Details", new { id = l3.ID }, new { @class = "details-link" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="menu-builder-l3" >
                                                            @Html.ActionLink(@l3.Title, "Details", new { id = l3.ID }, new { @class = "details-link" })
                                                        </li>
                                                    }

                                                }
                                            }
                                                    }
                                                </ul>

                                            </li>
                                        }
                                    </ul>
                                }
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="details"></div>
    </div>
</div>


@*<script type="text/javascript">
    $(document).ready(function () {
        $('.list2').each(function () {
            var ul = $(this);
            var id = ul.attr('id');
            var block = localStorage.getItem('menuItemDisplay.' + id);
            
            ul.find('li').each(function () {
                var li = $(this);
                if (block == 'true') {
                    li.show();
                //} else {
                //    li.toggle('hide');
                };
            });
        });
    });
</script>*@
