@using System.Linq
@model slls.ViewModels.OrderReportsViewModel

@Html.Partial("_PrintHeader")

<h2>@ViewBag.Title</h2>
<hr/>

@foreach (var supplier in Model.Suppliers.OrderBy(s => s.SupplierName))
{
    var supplierName = string.IsNullOrEmpty(supplier.SupplierName) ? "[s.n.]" : supplier.SupplierName;
    <div class="row">
        <div class="col-md-12">
            <h4 class="report_h4">@supplierName</h4>
            <hr class="hr-compact" />
            @{
                var allOrders = (from o in supplier.OrderDetails
                    where o.OnApproval && !o.Accepted && o.ReturnedDate == null
                    select o).AsEnumerable();

                    <table id="supplier_orders" class="table table-condensed table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 40%;">
                                    Title
                                </th>
                                <th style="width: 20%;">
                                    Item
                                </th>
                                <th style="width: 6%;">
                                    Price
                                </th>
                                <th style="width: 10%;">
                                    Received
                                </th>
                                <th style="width: 12%;">
                                    Authority
                                </th>
                                <th style="width: 12%;">
                                    Requested By
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var order in allOrders.OrderBy(o => o.Title.Title1.Substring(o.Title.NonFilingChars)))
                            {
                                var authority = order.AuthoriserUser == null ? "" : Model.AllUsers.FirstOrDefault(u => u.Id == order.AuthoriserUser.Id).FullnameRev;
                                var requester = order.RequesterUser == null ? "" : Model.AllUsers.FirstOrDefault(u => u.Id == order.RequesterUser.Id).FullnameRev;

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.Title.Title1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.Item)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => order.ReceivedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => authority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => requester)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            }
        </div>
    </div>
}
<hr />
<strong>Total value of items on approval: @string.Format("{0:C}", ViewData["TotalSum"])</strong>
