@using System
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.Borrowing>

<table id="itemsonloan" class="table table-hover">
    <thead>
    <tr>
        <th>
            @DbRes.T("CopyItems.Barcode", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Titles.Title", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Copies.Copy_Number", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Borrowing.Borrowed_By", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Departments.Department", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Borrowing.Borrowed", "FieldDisplayName")
        </th>
        <th>
            @DbRes.T("Borrowing.Date_Return_Due", "FieldDisplayName")
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Volume.Barcode)*@
                    @if (string.IsNullOrEmpty(item.Volume.Barcode))
                    {
                        <a href="@Url.Action("Edit", "Volumes", new { id = item.Volume.VolumeID })" class="modal-link" title="View details"></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "Volumes", new { id = item.Volume.VolumeID })" class="modal-link" title="View details">@item.Volume.Barcode</a>
                    }
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.Volume.Copy.Title.Title1))
                    {
                        <a href="@Url.Action("Edit", "Titles", new { id = item.Volume.Copy.TitleID })" title="View details"></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "Titles", new { id = item.Volume.Copy.TitleID })" title="View details">@item.Volume.Copy.Title.Title1</a>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Copies", new { id = item.Volume.Copy.CopyID })" title="View details">@item.Volume.Copy.CopyNumber</a>
                </td>

                <td>
                    <a href="@Url.Action("Edit","LibraryUsers", new { id = item.BorrowerUser.Id })" class="modal-link" title="View details">@Html.DisplayFor(modelItem => item.BorrowerUser.Fullname)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerUser.Department.Department1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowedDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDueDateSortable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Copy.Title.FiledTitle)
                </td>
                <td style="text-align: right;">
                    <a href="@Url.Action("NewEmailPopup", "Messaging", new { to = item.BorrowerUser.Email, subject = "Message about: " + item.Volume.Copy.Title.Title1, area = "" })" class="modal-link" title="Email @item.BorrowerUser.Firstname"><span class="glyphicon glyphicon-envelope"></span></a>
                    <a href="@Url.Action("ConfirmReturnLoan", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Return loan"><span aria-hidden="true" class="glyphicon glyphicon-share-alt"></span></a>
                    <a href="@Url.Action("ConfirmRenewLoan", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Renew loan"><span aria-hidden="true" class="glyphicon glyphicon-repeat"></span></a>
                    <a href="@Url.Action("Edit", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>