@model IEnumerable<slls.Models.Borrowing>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allloans').DataTable({
            pageLength: 10,
            "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]]
            ,
            "columnDefs": [{
                "visible": false,
                "targets": [7, 8, 9, 10]
            },
            {
                "orderData": [7],
                "targets": [3]
            },
            {
                "orderData": [8],
                "targets": [4]
            },
            {
                "orderData": [9],
                "targets": [5]
            }
            ,
            {
                "orderData": [10],
                "targets": [0]
            }]
        });
    });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

<table id="allloans" class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Volume.Copy.Title.Title1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume.Copy.CopyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerUser.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renewal)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Copy.Title.Title1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Copy.CopyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerUser.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Returned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renewal)
                </td>
                <td>
                    @Html.Raw(item.BorrowedDateSortable)
                </td>
                <td>
                    @Html.Raw(item.ReturnDueDateSortable)
                </td>
                <td>
                    @Html.Raw(item.ReturnedDateSortable)
                </td>
                <td>
                    @Html.Raw(item.Volume.Copy.Title.FiledTitle)
                </td>

                <td>
                    @if (item.Returned.ToString() == null || item.Returned.ToString() == "")
                    {
                        @Html.ActionLink("Return", "ConfirmReturnLoan", new { id = item.BorrowID })
                        @Html.Label(" | ")
                        @Html.ActionLink("Renew", "ConfirmRenewLoan", new { id = item.BorrowID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
