@using Westwind.Globalization
@model slls.ViewModels.BorrowingIndexViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#allloans').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs": [{
                "visible": false,
                "targets": [8, 9, 10, 11]
            },
            {
                "orderData": [8],
                "targets": [4]
            },
            {
                "orderData": [9],
                "targets": [5]
            },
            {
                "orderData": [10],
                "targets": [6]
            }
            ,
            {
                "orderData": [11],
                "targets": [0]
            },
            {
                "width": "10%",
                "searchable": false,
                "sortable": false,
                "targets": [12]
            }]
        });
    });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

@Html.Partial("_SelectMonthYear")

<table id="allloans" class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayName(DbRes.T("Titles.Title", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Copies.Copy_Number", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Borrowing.Borrowed_By", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Departments.Department", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Borrowing.Borrowed", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Borrowing.Date_Return_Due", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Borrowing.Date_Returned", "FieldDisplayName"))
            </th>
            <th>
                @Html.DisplayName(DbRes.T("Borrowing.Is_Renewal", "FieldDisplayName"))
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Loans)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Copy.Title.Title1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Copy.CopyNumber)
                </td>
                <td>
                    <a href="@Url.Action("Edit","LibraryUsers", new { id = item.BorrowerUser.Id })" class="modal-link" title="View details">@Html.DisplayFor(modelItem => item.BorrowerUser.Fullname)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerUser.Department.Department1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Returned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renewal)
                </td>
                <td>
                    @Html.Raw(item.BorrowedDateSortable)
                </td>
                <td>
                    @Html.Raw(item.ReturnDueDateSortable)
                </td>
                <td>
                    @Html.Raw(item.ReturnedDateSortable)
                </td>
                <td>
                    @Html.Raw(item.Volume.Copy.Title.FiledTitle)
                </td>

                <td style="text-align: right;">
                    @if (item.Returned.ToString() == null || item.Returned.ToString() == "")
                    {
                        <a href="@Url.Action("NewEmailPopup", "Messaging", new { to = item.BorrowerUser.Email, subject = "Message about: " + item.Volume.Copy.Title.Title1, showCaptcha = false, area = "" })" class="modal-link" title="Email @item.BorrowerUser.Firstname"><span class="glyphicon glyphicon-envelope"></span></a>
                        <a href="@Url.Action("ConfirmReturnLoan", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Return loan"><span aria-hidden="true" class="glyphicon glyphicon-share-alt"></span></a>
                        <a href="@Url.Action("ConfirmRenewLoan", new { id = item.BorrowID })" class="btn btn-link modal-link" title="Renew loan"><span aria-hidden="true" class="glyphicon glyphicon-repeat"></span></a>
                    }
                    <a href="@Url.Action("Edit", new { id = item.BorrowID })" class="btn btn-link modal-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil" /></a>
                    <a href="@Url.Action("Delete", new {id = item.BorrowID})" class="btn btn-link modal-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
