@using Westwind.Globalization
@model IEnumerable<slls.Models.TitleEditor>

<h2>@ViewBag.Title</h2>
<h3><a href="@Url.Action("Edit", "Titles", new {id = @Model.FirstOrDefault().TitleID}, null)" title="Back to title">@Model.FirstOrDefault().Title.Title1</a></h3>

<p>
    <a href="@Url.Action("Add", "TitleEditors", new {id = Model.FirstOrDefault().TitleID}, null)" title="Add new @DbRes.T("Authors.Editor", "FieldDisplayName") to a @DbRes.T("Titles.Title", "FieldDisplayName")">Add New <span aria-hidden="true" class="glyphicon glyphicon-plus-sign" /></a>
    <br/><br/>
</p>

<table class="table">
        <tr>
            <th>
                @DbRes.T("Authors.Editor", "FieldDisplayName")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSeq)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSeq)
            </td>
            <td class="just-right">
                <a href="@Url.Action("Edit", new { id = item.TitleEditorID })" class="btn btn-link" title="Edit"><span aria-hidden="true" class="glyphicon glyphicon-pencil" /></a>
                <a href="@Url.Action("Delete", new { id = item.TitleEditorID })" class="btn btn-link" title="Delete"><span aria-hidden="true" class="glyphicon glyphicon-trash" /></a>
            </td>
        </tr>
    }

</table>

<div>
    <a href="@Url.Action("Edit", "Titles", new {id = @Model.FirstOrDefault().TitleID}, null)" title="Back to @DbRes.T("Titles.Title", "FieldDisplayName")">Back to @DbRes.T("Titles.Title", "FieldDisplayName")</a>
</div>