@using System.Linq
@using Westwind.Globalization
@model slls.ViewModels.SearchOrderTypeViewModel

@Html.Partial("_ModalAddEditHeader")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <h4>Oops!</h4>
                    @Html.ValidationSummary()
                </div>
            }
            @Html.HiddenFor(model => model.OrderTypeID)
            @Html.HiddenFor(model => model.OrderType)
            @Html.HiddenFor(model => model.Scope)

            <div class="form-group">
                @Html.LabelFor(model => model.OrderType, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-8">
                    <div class="form-control-static" >@Html.DisplayFor(model => model.OrderType)</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OrderTypeFriendly, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OrderTypeFriendly, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderTypeFriendly, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Display, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Display, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Display, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("_ModalEditFooter")
}

@Scripts.Render("~/bundles/modalAddEditHeader")

