@using System.Web.Http
@using Westwind.Globalization
@using slls.Utils.Helpers
@model slls.ViewModels.DataImportViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="headerLabel">@Model.Title</h3>
</div>

@using (Html.BeginForm("_BrowseForFile", "DataImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="modal-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">

            <div class="alert alert-info">
                <span class="help-block"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;@Model.Tip</span>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                <span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Browse &hellip; @Html.TextBoxFor(model => model.File, new {type = "file", multiple = "multiple", accept = Model.AcceptedFileTypes, @style = "display: none;"})
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    @Html.ValidationMessageFor(model => model.File)
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        @Html.SubmitButton(Model.ButtonText, Model.Glyphicon)
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

@Scripts.Render("~/bundles/modalAddEditHeader")
