@using slls.Utils.Helpers
@model slls.ViewModels.DataImportViewModel

@Html.Partial("_HeaderSeeAlso")

<div class="alert alert-info">
    <span class="help-block"><strong>Info: </strong>Use this form to import library user data from an XML or CSV (comma-separated variable) file.  This file will normally have been created as an output from the Active Directory Export script, or by using the ADSearcher tool. This file should be located on your PC or a local network folder.  If in doubt, please ask your Administrator or Helpdesk.</span>
</div>

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-12 form-inline">
            <strong>Step 1: Get User Data</strong><br />
            <a href="@Url.Action("_BrowseForFile")" title="Click to load user data from file" class="btn btn-primary modal-link"><span class="glyphicon glyphicon-user"></span> Load Data</a>
            <span>@Html.TextBoxFor(model => model.FileName, new {@readonly = "readonly", @class = "form-control"})</span>
        </div>
        <div class="col-md-12">
            @Html.HelpInline("Load the user data in from an XML or CSV (Comma-Separated Variable) file.")
        </div>
    </div>

    @if (Model.Rows > 0)
    {
        <hr />
    <div class="form-group">
        <div class="col-md-12">
            <strong>Step 2: Confirm import</strong><br />
            Number of user records in file: <strong>@Model.Rows</strong>
            &nbsp;&nbsp;<a href="@Url.Action("ViewFile")" title="View User Data" class="btn btn-link" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> View Data</a>
        </div>
        <div class="col-md-12">
            <a href="@Url.Action("DoUserImport")" title="Import the user data" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Import Users</a>
            &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" onclick="window.history.back();">Cancel</button>
        </div>
    </div>
    }


</div>