@using Westwind.Globalization
@model IEnumerable<slls.Models.LibraryUserSavedSearch>

<script type="text/javascript">
    $(document).ready(function() {
        $('#savedsearches').DataTable({
            "dom": sDom,
            "pagingType": sPagingType,
            "pageLength": sPageLength,
            "lengthMenu": sLengthMenu,
            "language": {
                "url": "/DataTables/lang.txt"
            },
            "columnDefs": [
                {
                    "visible": false,
                    "targets": [2]
                },
                {
                    "sortable": false,
                    "searchable": false,
                    "targets": [3]
                },
                {
                    "orderData": [2],
                    "targets": [1]
                }
            ]
        });
    });
</script>

@Html.Partial("_HeaderCancel")

<table class="table" id="savedsearches">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var savedSearch in Model.OrderBy(x => x.Description))
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(savedSearch.Description))
                {
                    @Html.ActionLink(" ", "Run", "LibraryUserSavedSearches", new {id = savedSearch.SavedSearchID}, new {@class = "btn-link"})
                }
                else
                {
                    @Html.ActionLink(savedSearch.Description, "Run", "LibraryUserSavedSearches", new {id = savedSearch.SavedSearchID}, new {@class = "btn-link"})
                }
            </td>
            <td>
                @Html.DisplayFor(x => savedSearch.InputDate)
            </td>
            <td>
                @Html.Raw(savedSearch.InputDateSortable)
            </td>
            <td class="just-right">
                <a href="@Url.Action("Delete", new {id = savedSearch.SavedSearchID})" class="btn btn-link modal-link" title="Delete this Bookmark"><span class=" glyphicon glyphicon-trash"></span></a>
                <a href="@Url.Action("Edit", new {id = savedSearch.SavedSearchID})" c class="btn btn-link modal-link" title="Edit this Bookmark"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    }
    </tbody>
</table>

@*<div id="alertDialog" title="@ViewBag.Title"><p id="contentholder"></p></div>

<script type="text/javascript">
    $(document).ready(function () {
        if (@ViewBag.HasAlert === true) {
            $('#alertDialog').dialog({
                open: function () {
                    var text = "@ViewBag.AlertMsg";
                    $(this).closest(".ui-dialog")
                    .find(".ui-dialog-titlebar-close")
                    .removeClass("ui-icon-closethick")
                    .addClass("btn btn-default")
                    .text("X"),
                    $("#contentholder").html(text);

                },
                autoOpen: true,
                modal: true,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: [
                {
                    text: "@DbRes.T("Buttons.Ok","Terminology")",
                    "class": 'btn btn-primary',
                    click: function () {
                        $(this).dialog('close');
                    }
                }
                ]
            });
        }
    });

</script>*@