@using Westwind.Globalization
@model slls.ViewModels.OpacBarcodeEnquiryViewModel

@Html.Partial("_ModalDefaultHeader")

@using (Html.BeginForm("BarcodeLookup", "Home", new AjaxOptions { HttpMethod = "post", OnFailure = "OnFailure" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">

        <div class="form-horizontal">

            <div class="alert alert-info">
                <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> Enter or scan the @DbRes.T("CopyItems.Barcode", "FieldDisplayName") to look-up the full details of the item.
            </div>

            <div class="form-group has-feedback">
                @Html.Label("Enter a " + DbRes.T("CopyItems.Barcode", "FieldDisplayName"), new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
                    <i class="glyphicon glyphicon-barcode form-control-feedback"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button id="btnOkay" class="btn btn-primary" type="submit"><span aria-hidden="true" class="glyphicon glyphicon-sunglasses"></span> Look-up Details</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
    </div>
}

<script type="text/javascript">
    $(document).ready(function() {
        $('#Barcode').focus();
    });

    //$('#btnOkay').click(function () {
    //    $('#stdModal').modal('hide');
    //    $('#lrgModal').modal('hide');
    //});

    function OnFailure(response) {
        var obj = $.parseJSON(response.responseText);
        alert(obj.message);
    }

</script>