@model slls.ViewModels.SimpleSearchingViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="alert alert-info">
        @Html.DropDownList("ListLanguage", null, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
}

<div id="TitlesTable">
    @Html.Partial("_Simpleresults", Model)
</div>

@Html.Hidden("SearchResultSize", @Model.SearchResultSize)
@Html.Hidden("OrderBy", @Model.OrderBy)

@section scripts {
    @*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/OPAC/_Simpleresults.js")" type="text/javascript"></script>
}

