@model slls.ViewModels.SimpleSearchingViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm("BrowseBySubject", "Home", FormMethod.Get, new { id = "frmSelect", name = "frmSelect", area = "" }))
{
    <div class="alert alert-info">
        @*@Html.DropDownList("ListSubjects", null, new { @class = "form-control selectpicker", onchange = "this.form.submit();" })*@
        @Html.TextBoxFor(x => x.SelectItem, new { @placeholder = "Start typing the term you are looking for ...", @class = "form-control" })
        @Html.HiddenFor(model => model.SelectedId)
    </div>
}

<br />
<div id="TitlesTable">
    @Html.Partial("_Simpleresults", Model)
</div>

@Html.Hidden("DestUrl", @Url.Action("BrowseBySubject", "Home", new { id = "REPLACEME", area = "" }))
@Html.Hidden("SearchResultSize", @Model.SearchResultSize)
@Html.Hidden("OrderBy", @Model.OrderBy)

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
<script src="@Url.Content("~/DataTables/OPAC/_Simpleresults.js")" type="text/javascript"></script>
@*@Scripts.Render("~/bundles/selectPicker")*@
    @*<script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>*@

    <script type="text/javascript">
    $("#SelectItem").autocomplete({
        source: function (request, response) {
            var title = new Array();
            var urlGetTerms = "@Url.Action("KeywordsUsed", "Home", new { area = ""})";
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: urlGetTerms,
                data: { "term": request.term },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        title[i] = { label: data[i].Value, Id: data[i].Key };
                    }
                }
            });
            response(title);
        },
        select: function (event, ui) {
            if (ui.item) {
                //alert(ui.item.label);
                if (ui.item.Id != null) {
                    $('#SelectedId').val(ui.item.Id);
                    //document.frmSelect.submit();
                    var url = $("#DestUrl").val();
                    window.location.href = url.replace('REPLACEME', ui.item.Id);
                }
            }
        }
    });
    </script>

}