@using Westwind.Globalization
@model slls.ViewModels.SimpleSearchingViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="alert alert-info">
        @Html.DropDownList("ListAuthors", null, "Select an " + @DbRes.T("Authors.Author", "FieldDisplayName"), new { @class = "form-control selectpicker", onchange = "this.form.submit();" })
    </div>
}

<br />
<div id="TitlesTable">
    @Html.Partial("_Simpleresults", Model)
</div>

@Html.Hidden("SearchResultSize", @Model.SearchResultSize)
@Html.Hidden("OrderBy", @Model.OrderBy)

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
<script src="@Url.Content("~/DataTables/OPAC/_Simpleresults.js")" type="text/javascript"></script>
@Scripts.Render("~/bundles/selectPicker")
    <script type="text/javascript">
        $(document).ready(function() {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });
    </script>
}