@using Westwind.Globalization
@model slls.ViewModels.SimpleSearchingViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="alert alert-info">
        <div class="row" style="margin-right: 0">
            <div class="col-md-12">
                <p><span class="glyphicon glyphicon-info-sign"></span> Select a @DbRes.T("Languages.Language", "FieldDisplayName") from the drop-down list below to view all items published in that  @DbRes.T("Languages.Language", "FieldDisplayName").ToLower():</p>
            </div>
            <div class="col-md-12">
                @Html.DropDownList("ListLanguage", null, new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </div>
    </div>
    @*<div class="alert alert-info">
        @Html.DropDownList("ListLanguage", null, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>*@
}

<div id="TitlesTable">
    @Html.Partial("_Simpleresults", Model)
</div>

@Html.Hidden("SearchResultSize", @Model.SearchResultSize)
@Html.Hidden("OrderBy", @Model.OrderBy)

@section scripts {
    @*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/OPAC/_Simpleresults.js")" type="text/javascript"></script>
}

