@model slls.ViewModels.NewEmailViewModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <div class="col-md-3">
                <br />
                <img title="Bailey Solutions" src="../../Images/conniouseur-cake-large.png" alt="Bailey Solutions" />
            </div>
            <div class="col-md-3">
                <h4>Bailey Solutions Ltd</h4>
                <address>
                    Curtis House<br />
                    34 Third Avenue, Hove,<br />
                    East Sussex,<br />
                    BN3 2PD.<br />
                    United Kingdom<br />
                    <a href="http://www.baileysolutions.co.uk" title="Bailey Solutions Website" target="_blank">www.baileysolutions.co.uk</a>
                    <a href="https://www.simplelittlelibrarysystem.co.uk" title="Simple Little Library System website" target="_blank">www.simplelittlelibrarysystem.co.uk</a>
                </address>
            </div>
            <div class="col-md-3">
                <h4>Sales & General Enquiries</h4>
                <address>
                    <abbr title="Phone">Tel:</abbr>
                    +44 (0)1273 773788<br />
                    <abbr title="Email">Mail:</abbr>
                    <a href="mailto:info@baileysolutions.co.uk" title="Email your general enquiries">info@baileysolutions.co.uk</a><br />
                </address>
            </div>
            <div class="col-md-3">
                <h4>Help & Assistance</h4>
                <address>
                    <abbr title="Phone">Tel:</abbr>
                    +44 (0)1273 242958<br />
                    <abbr title="Email">Mail:</abbr>
                    <a href="mailto:support@baileysolutions.co.uk" title="Email support">support@baileysolutions.co.uk</a><br />
                </address>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <div class="well">
                    <h4 style="margin-top: 0;">Make an Enquiry:</h4>
                    @using (Html.BeginForm("NewEmail", "Messaging", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RedirectAction)
                        @Html.HiddenFor(model => model.RedirectController)

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.To, new SelectList(ViewBag.EnquiryTypes, "Key", "Value"), "- Select -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Send" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
