@model slls.ViewModels.OPACHomePageViewModel

@* This next section maybe hidden, depending on the client preferences/site.css ... *@
@if (Model.ShowWelcomeMessage)
{
    <div class="jumbotron">
        <div class="container">
            @Html.Raw(Model.WelcomeHeader)
            @Html.Raw(Model.WelcomeMessage)
        </div>
    </div>
}

<div class="container">

    <div class="row">
        <div class="col-md-3">
            @Html.Action("RenderGadget", "Home", new { col = 1, row = 1, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 1, row = 2, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 1, row = 3, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 1, row = 4, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 1, row = 5, hasTitles = Model.HasTitles })
        </div>

        <div class="col-md-5">
            @Html.Action("RenderGadget", "Home", new { col = 2, row = 1, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 2, row = 2, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 2, row = 3, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 2, row = 4, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 2, row = 5, hasTitles = Model.HasTitles })
        </div>

        <div class="col-md-4">
            @Html.Action("RenderGadget", "Home", new { col = 3, row = 1, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 3, row = 2, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 3, row = 3, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 3, row = 4, hasTitles = Model.HasTitles })
            @Html.Action("RenderGadget", "Home", new { col = 3, row = 5, hasTitles = Model.HasTitles })
            @*@Html.Action("_UserBookmarks", "Home")
                @Html.Action("_UserSavedSearches", "Home")*@
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#MainSearchString').focus();

            var autoSuggestEnabled = @Json.Encode(Model.AutoSuggestEnabled);

            if (autoSuggestEnabled) {
                $("#MainSearchString").autocomplete({
                    source: function (request, response) {
                        var terms = new Array();
                        var urlGetTerms = "@Url.Action("AutoCompleteSearchTerm", "Home")";
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: urlGetTerms,
                            data: { "term": request.term },
                            success: function (data) {
                                for (var i = 0; i < data.length; i++) {
                                    terms[i] = { label: data[i].Value, Id: data[i].Key };
                                }
                            }
                        });
                        response(terms);
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        if (ui.item) {
                            if (ui.item.Id != null) {
                                $('#MainSearchString').val(ui.item.label);
                                $('form#searchForm').submit();
                            }
                        }
                    }
                });
            }
        })
</script>
}
    
