@model slls.ViewModels.SimpleSearchingViewModel
<h2>@ViewBag.Title</h2>

@Html.HiddenFor(x => Model.ClassmarksFilter)
@Html.HiddenFor(x => Model.IsActualSearch)
@Html.HiddenFor(x => Model.OrderBy)

@using (Html.BeginForm("SimpleSearchResults", "Home", FormMethod.Post, new { id = "searchForm" }))
{
    if (TempData["NoData"] != null)
    {
        @Html.Partial("_NoData", TempData["NoData"])
    }

    <div class="alert alert-info" id="searchHeader">
        <div class="row">
            <div class=" col-md-12">
                <div class="form-group form-inline" style="margin-bottom: 0;">
                    <span class="pull-right"><a href="#" onclick="$('#helpAlert').toggle()">Help <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span></a></span>
                    @Html.LabelFor(model => model.SearchString)<span>:&nbsp;</span>
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Find ...", style = "width: 50%", id = "MainSearchString" } })
                    <span>&nbsp;&nbsp;</span>@Html.Label("In")<span>:&nbsp;</span>
                    @Html.DropDownList("SearchField", null, new { @class = "form-control", style = "width: 20%" })
                    <button type="submit" id="btnSubmit" value="Find" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-search"></span> Find</button>
                </div>
                @Html.ValidationMessageFor(model => model.SearchString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="alert alert-info" id="helpAlert" style="display: none;">
            <a class="close" onclick="$('#helpAlert').hide()">×</a>
            <h4><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> Searching Tips</h4>
            @Html.Raw(ViewBag.SearchTips)
            @*<h5>
                    This search works in a similar way to Google. Search for specific words or "phrases", optionally excluding others.
                    Here are some searching examples:
                </h5>
                <table class="table table-compact table-no-border">
                    <tr>
                        <td>
                            apple banana (default)
                        </td>
                        <td>
                            finds records that contain <strong><i>both</i></strong> words, anywhere and in any order. This is the default "AND" search.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            apple <span style="color: red">AND</span> banana
                        </td>
                        <td>
                            same as above. Finds records that contain <strong><i>both</i></strong> words, anywhere and in any order. However, there is no need to include "AND" operator between words.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            apple<span style="color: red; font-weight: bold">*</span> (default)
                        </td>
                        <td>
                            finds "apple", "apples", "applesauce", and "applet". There is no need to append the "<strong> * </strong>" wild-card suffix in your searches.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="color: red; font-weight: bold">"</span>some words<span style="color: red; font-weight: bold">"</span>
                        </td>
                        <td>
                            wrapping your search words in quotation marks treats them as an entire phrase. Finds records that contain "<strong>some words</strong> of wisdom", but not "<strong>some</strong> strange <strong>words</strong>".
                        </td>
                    </tr>

                    <tr>
                        <td>
                            apple <span style="color: red">OR</span> juice
                        </td>
                        <td>
                            finds records that contain either of these words, or both. Using the "OR" operator will return more results than the default "AND" search.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            apple <span style="color: red; font-weight: bold">-</span>macintosh
                        </td>
                        <td>
                            optionally exclude certain words. Finds records with "apple" but not "macintosh".
                        </td>
                    </tr>
                    <tr>
                        <td>
                            apple <span style="color: red">NOT</span> macintosh
                        </td>
                        <td>
                            same as using "-", finds records with "apple" but not "macintosh".
                        </td>
                    </tr>
                </table>
                <p>
                    <strong>Note: </strong>There are several commonly words that will be ignored in a search. These words are called "Stop Words" and offer little or no benefit to a search. Stop words include "A", "An", "And", "For", "Has", "He, "Her", The", "Them", etc.
                </p>*@
        </div>
    </div>

    if (Model.Results != null && Model.Results.Any())
    {
        <div class="row">
            <div class="col-md-3">

                <div class="panel">
                    <div class="panel-heading" style="padding: 0 10px;">
                        <span style="font-size: 18px;">Refine By</span>
                        <span class="pull-right"><a href="@Url.Action("ClearAllFilters", "Home")" class="btn btn-link" title="Clear All Filters"><span aria-hidden="true" class="glyphicon glyphicon-minus-sign"></span> Clear All</a></span>
                    </div>
                    <div class="panel-body">
                        @if (Model.KeywordFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByKeyword")
                        }
                        @if (Model.MediaFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByMedia")
                        }
                        @if (Model.ClassmarksFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByClassmark")
                        }
                        @if (Model.PublisherFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByPublisher")
                        }
                        @if (Model.AuthorFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByAuthor")
                        }
                        @if (Model.LanguageFilter.Count > 0)
                        {
                            @Html.Partial("_NarrowByLanguage")
                        }
                    </div>
                </div>

            </div>
            <div class="col-md-9" style="border-left: 1px solid #eee;">
                @if (Model.Results != null && Model.Results.Any())
                {
                    @Html.Partial("_Simpleresults")
                }
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#MainSearchString').focus();
    });
</script>

