@using System
@using slls.Utils.Helpers
@using Westwind.Globalization
@model System.Collections.Generic.IEnumerable<slls.Models.UsefulLink>

<script type="text/javascript">
    $(document)
        .ready(function () {
            $('#usefulLinks')
                .DataTable({
                    "dom": sDom,
                    "pagingType": sPagingType,
                    "pageLength": sPageLength,
                    "lengthMenu": sLengthMenu,
                    "language": {
                        "url": "/DataTables/lang.txt"
                    },
                    "columnDefs": [
                    {
                        "width": "10%",
                        "searchable": false,
                        "sortable": false,
                        "targets": [5]
                    }
                    ]
                });
        });
</script>

@Html.Partial("_HeaderSeeAlso", Model)

<p>
    <a href="@Url.Action("Create", "UsefulLinks")" title="Add new @DbRes.T("Useful_Links.Useful_Link", "FieldDisplayName")" class="btn btn-primary" data-toggle="modal" data-target="#lrgModal"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

<table id="usefulLinks" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoverTip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span><a href="@Url.Action("Edit", new {id = item.LinkID})" c class="btn btn-link modal-link" title="Edit this Useful Link"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></span>&nbsp;&nbsp;@Html.ResolvedLink(item.Url, item.FileId ?? 0, item.HoverTip, item.DisplayText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoverTip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td class="just-right">
                    <a href="@Url.Action("Delete", new {id = item.LinkID})" class="btn btn-link modal-link" title="Delete this Useful Link"><span class=" glyphicon glyphicon-trash"></span></a>
                    <a href="@Url.Action("Edit", new {id = item.LinkID})" c class="btn btn-link modal-link" title="Edit this Useful Link"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
